<div class="modal-header">
  <button type="button" class="close" ng-click="vm.cancel()" aria-hidden="true">
    <span class="pficon pficon-close"></span>
  </button>
  <h4 class="modal-title" id="myModalLabel" translate>Set Service Ownership</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div pf-form-group pf-input-class="col-sm-8" pf-label-class="col-sm-3" pf-label="{{'Select an Owner'|translate}}">
      <select ng-model="vm.modalData.owner.userid" class="form-control">
        <option ng-if="!vm.isService" value="" translate>Don't Change</option>
        <option ng-repeat="user in vm.users.resources"
                ng-selected="user.userid == vm.modalData.owner.userid ? 'selected' : ''"
                value="{{user.userid}}">
          {{user.name}}
        </option>
      </select>
    </div>

    <div pf-form-group pf-input-class="col-sm-8" pf-label-class="col-sm-3" pf-label="{{'Select a Group'|translate}}">
      <select ng-model="vm.modalData.group.description"
              class="form-control">
        <option ng-if="!vm.isService" value="" translate>Don't Change</option>
        <option ng-repeat="group in vm.groups.resources | orderBy:'description'"
                ng-selected="group.description == vm.modalData.group ? 'selected' : ''"
                value="{{group.description}}">
          {{group.description}}
        </option>
      </select>
    </div>
  </form>
  <hr>
  <h4 translate>Affected Services</h4>
  <icon-list items="vm.services"></icon-list>
</div>
<div class="modal-footer">
  <modal-actions
    modal-data="vm.modalData"
    reset-modal="vm.resetModal"
    on-cancel="vm.cancel()"
    on-reset="vm.reset($event)"
    on-save="vm.save()">
  </modal-actions>
</div>
