<div class="breadcrumb-bar">
  <span>
      <ol class="breadcrumb">
        <li>
          <a href="#" ui-sref="dialogs.list">{{'Dialogs'|translate}}</a>
        </li>
        <li>
          <a href="#" ui-sref="^">
            {{ ::vm.dialog.label }}</a>
        </li>
        <li class="active"><strong translate>Edit</strong> {{ ::vm.dialog.label }}</li>
      </ol>
  </span>
</div>
<div class="ss-details-wrapper">
  <div class="panel panel-default ss-details-panel designer-catalog-details">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h2 translate>Dialog Content</h2>
          <dialog-editor-tabs></dialog-editor-tabs>
          <dialog-editor-boxes></dialog-editor-boxes>
        </div>
        <div class="col-md-6">
          <h2 translate>General</h2>
          <form class="form-horizontal">
            <div pf-form-group
                 pf-label="{{'Name'|translate}}"
                 required>
              <input id="name"
                     name="name"
                     ng-model="vm.dialog.content[0].label"
                     type="text"
                     required/>
            </div>
            <div pf-form-group
                 pf-label="{{'Description'|translate}}"
                 pf-input-class="col-sm-9">
            <textarea id="description"
                      name="description"
                      ng-model="vm.dialog.content[0].description">
              {{ vm.dialog.content[0].description }}
            </textarea>
            </div>
          </form>
          <h2 translate>Toolbox</h2>
          <div class='draggable'>
            <dialog-editor-field-static></dialog-editor-field-static>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default ss-details-panel ss-details-panel-bottom">
    <div class="panel-body">
      <action-button-group
        is-inverted="true"
        is-disabled="vm.dialogUnchanged()"
        data="vm.dialog.content[0]"
        on-cancel="vm.dismissChanges()"
        on-save="vm.saveDialogDetails()">
      </action-button-group>
    </div>
  </div>
</div>

