<ol class="breadcrumb">
  <li>
    <a ui-sref="^"> <span class="fa fa-angle-double-left"/>&nbsp;{{'Back to Profiles'|translate}}</a>
  </li>
  <li class="active">
    {{vm.title}}
  </li>
</ol>

<div class="ss-details-wrapper">
  <div class="panel panel-default ss-details-panel arbitration-profile-details">
    <div class="panel-body">
      <section>
        <div class="col-md-12 ss-details-header">
          <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
              <h2 translate ng-if="vm.profile">Edit Profile</h2>
              <h2 translate ng-if="!vm.profile">Add Profile</h2>
            </div>
          </div>
        </div>
      </section>
      <section class="ss-form">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Name</label>
                  <div class="col-sm-8">
                    <input class="form-control" ng-model="vm.editInfo.name" value="{{vm.editInfo.name}}" ng-change="vm.updateSelections()"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Description</label>
                  <div class="col-sm-8">
                    <input class="form-control" maxlength="50" ng-model="vm.editInfo.description" value="{{vm.editInfo.description}}" ng-change="vm.updateSelections()"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Provider Type</label>
                    <div class="col-sm-8">
                      <select pf-select ng-model="vm.editInfo.providerType"
                              ng-options="o as o for o in vm.providerTypes"
                              ng-change="vm.updateSelections()">
                        <option value="">{{"Select a provider type"  | translate}}</option>
                      </select>
                    </div>
                </div>
                <div class="form-group" ng-if="vm.editInfo.providerType">
                  <label class="control-label col-sm-4" translate>Provider</label>
                    <div class="col-sm-8">
                      <select pf-select ng-model="vm.editInfo.providerName"
                              ng-options="o as o for o in vm.providerNames"
                              ng-change="vm.updateSelections()">
                        <option value="">{{"Select a provider"  | translate}}</option>
                      </select>
                    </div>
                </div>
                <div ng-if="vm.editInfo.provider">
                  <div class="form-group">
                    <label class="control-label col-sm-4" translate>Key Pair</label>
                    <div class="col-sm-8">
                      <select pf-select ng-model="vm.editInfo.keyPair"
                              ng-options="o as o for o in vm.keyPairs"
                              ng-change="vm.updateSelections()">
                        <option value="">{{"Select a key pair"  | translate}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4" translate>Availability Zone</label>
                    <div class="col-sm-8">
                      <select pf-select ng-model="vm.editInfo.availabilityZone"
                              ng-options="o as o for o in vm.availabilityZones"
                              ng-change="vm.updateSelections()">
                        <option value="">{{"Select an availability zone"  | translate}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4" translate>Flavor</label>
                    <div class="col-sm-8">
                      <select pf-select ng-model="vm.editInfo.flavor"
                              ng-options="o as o for o in vm.flavors"
                              ng-change="vm.updateSelections()">
                        <option value="">{{"Select a flavor"  | translate}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4" translate>Cloud Network</label>
                    <div class="col-sm-8">
                      <select pf-select ng-model="vm.editInfo.cloudNetwork"
                              ng-options="o as o for o in vm.cloudNetworks"
                              ng-change="vm.updateSelections()">
                        <option value="">{{"Select a cloud network"  | translate}}</option>
                      </select>
                    </div>
                  </div>
                  <div ng-if="vm.editInfo.cloudNetworkObj">
                    <div class="form-group">
                      <label class="control-label col-sm-4" translate>Cloud Subnet</label>
                      <div class="col-sm-8">
                        <select pf-select ng-model="vm.editInfo.cloudSubnet"
                                ng-options="o as o for o in vm.cloudSubnets"
                                ng-change="vm.updateSelections()">
                          <option value="">{{"Select a cloud subnet"  | translate}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-4" translate>Security Group</label>
                      <div class="col-sm-8">
                        <select pf-select ng-model="vm.editInfo.securityGroup"
                                ng-options="o as o for o in vm.securityGroups"
                                ng-change="vm.updateSelections()">
                          <option value="">{{"Select a security group"  | translate}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div>
    <div class="panel panel-default ss-details-panel ss-details-panel-bottom">
      <div class="panel-body">
        <section class="ss-details-section">
          <button class="btn btn-default" type="button" translate ng-click="vm.handleCancel()">Cancel</button>
          <button class="btn btn-primary" type="button" ng-disabled="!vm.dirty || !vm.formValid" ng-click="vm.handleSave()" translate>Save</button>
        </section>
      </div>
    </div>
  </div>
</div>
