<span>
  <span ng-if="!vm.collapseCustomButtons">
    <span ng-repeat="button in vm.customActions.buttons">
       <button class="btn btn-default custom-button"
             title="{{button.description}}"
             type="button"
             ng-click="vm.customButtonAction(button, vm.serviceId, vm.serviceTemplateCatalogId)">
         {{button.name }}
       </button>
    </span>
    <div class="btn-group dropdown" ng-repeat="buttonGroup in vm.customActions.button_groups">
      <button class="btn btn-default dropdown-toggle custom-button" title="{{buttonGroup.description}}"
            type="button" id="{{buttonGroup.id}}" data-toggle="dropdown">
        {{ buttonGroup.name.split('|')[0] }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="{{buttonGroup.id}}">
        <li ng-repeat="button in buttonGroup.buttons" role="presentation">
          <a role="menuitem" tabindex="-1" ng-click="vm.customButtonAction(button, vm.serviceId, vm.serviceTemplateCatalogId)">
            {{ button.name }}
          </a>
        </li>
      </ul>
    </div>
  </span>
  <span ng-if="vm.collapseCustomButtons">
    <div class="btn-group dropdown custom-actions-menu">
      <button class="btn btn-default dropdown-toggle custom-button" title="{{'Custom Actions'|translate}}"
            type="button" id="button_custom_actions" data-toggle="dropdown">
        {{'Custom Actions'|translate}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="button_custom_actions">
        <li ng-repeat="button in vm.customActions.buttons" role="presentation">
          <a role="menuitem" class="custom-button-action" tabindex="-1" ng-click="vm.customButtonAction(button, vm.serviceId, vm.serviceTemplateCatalogId)">
            {{ button.name }}
          </a>
        </li>
        <div ng-repeat="buttonGroup in vm.customActions.button_groups">
          <li class="dropdown-header">{{ buttonGroup.name.split('|')[0] }}</li>
          <li ng-repeat="button in buttonGroup.buttons" role="presentation">
            <a role="menuitem" tabindex="-1" class="custom-button-action" ng-click="vm.customButtonAction(button, vm.serviceId, vm.serviceTemplateCatalogId)">
              {{ button.name }}
            </a>
          </li>
        </div>
      </ul>
    </div>
  </span>
</span>
