<ol class="breadcrumb">
  <li>
    <a ui-sref="services">{{'My Services'|translate}}</a>
  </li>
  <li>
    <a ui-sref="services.details({serviceId: vm.vmDetails.service.id})">{{ ::vm.vmDetails.service.name }}</a>
  </li>
  <li>
    <a ui-sref="vms.details({vmId: vm.vmDetails.id})">{{ ::vm.vmDetails.name }}</a>
  </li>
</ol>
<div class="ss-details-wrapper">
	<table class="vm-details-table">
		<tr>
			<th colspan="2">
				{{'Properties'|translate}}
			</th>
		</tr>
		<tr>
			<td>{{'Name'|translate}}</td>
			<td>{{::vm.vmDetails.name}}</td>
		</tr>
		<tr>
			<td>{{'Hostnames'|translate}}</td>
			<td>{{::vm.vmDetails.hostnames.join(",")}}</td>
		</tr>
		<tr>
			<td>{{'IP Addresses'|translate}}</td>
			<td>{{::vm.vmDetails.ipaddresses.join(",")}}</td>
		</tr>
		<tr ng-if="vm.vmDetails.instance">
			<td>{{'MAC Address'|translate}}</td>
			<td>{{::vm.vmDetails.instance.mac_addresses.join(",")}}</td>
		</tr>
		<tr>
			<td>
				{{'Container'|translate}}
			</td>
			<td>
				{{vm.vmDetails.vendor+ ': '+ vm.vmDetails.hardware.cpu_total_cores+ ' CPUs ('+ vm.vmDetails.hardware.cpu_sockets+' sockets
				x ' + vm.vmDetails.hardware.cpu_cores_per_socket +' core), '+ vm.vmDetails.hardware.memory_mb + ' MB'}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.host">
			<td>{{'Parent Host'|translate}} / {{'Node Platform'|translate}}</td>
			<td>{{::vm.vmDetails.host.vmm_product}}</td>
		</tr>
		<tr>
			<td>{{'Platform Tools'|translate}}</td>
			<td>{{::vm.vmDetails.tools_status}}</td>
		</tr>
		<tr>
			<td>
				{{'Operating System'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.hardware.guest_os_full_name}}
			</td>
		</tr>

		<tr ng-if="vm.vmDetails.hardware.bitness">
			<td>
				{{'Architecture'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.hardware.bitness}} bit
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.cloud===false">
			<td>
				{{'Devices'|translate}}
			</td>
			<td>
				<i class="fa fa-hdd-o fa-lg"></i>{{3 + vm.vmDetails.num_disks}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.cloud===false">
			<td>
				{{'CPU Affinity'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.cpu_affinity}}
			</td>
		</tr>
		<tr>
			<td>
				{{'Snapshots'|translate}}
			</td>
			<td>
				<i class="fa fa-camera fa-lg"></i>{{::vm.vmDetails.snapshotCount}}
			</td>
		</tr>
		<tr>
			<td>
				{{'Advanced Settings'|translate}}
			</td>
			<td>
				<i class="fa fa-wrench fa-lg"></i>{{::vm.vmDetails.advanced_settings.length}}
			</td>
		</tr>
		<tr>
			<td>
				{{'Resources'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.resourceAvailability}}
			</td>
		</tr>
		<tr>
			<td>
				{{'Management Engine GUID'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.guid}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.hardware.virtualization_type">
			<td>
				{{'Virtualization Type'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.hardware.virtualization_type}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.hardware.root_device_type">
			<td>
				{{'Root Device Type'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.hardware.root_device_type}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.uid_ems">
			<td>
				{{'ID within Provider'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.uid_ems}}
			</td>
		</tr>
	</table>
	<table class="vm-details-table">
		<tr>
			<th colspan="2">
				{{'Lifecycle'|translate}}
			</th>
		</tr>
		<tr>
			<td>
				{{'Discovered on'|translate}}
			</td>
			<td>
				{{ ::vm.vmDetails.created_on | date:'medium' }}
			</td>
		</tr>
		<tr>
			<td>
				{{'Last Analyzed'|translate}}
			</td>
			<td>
				<i class="fa fa-search fa-lg"></i>{{ ::vm.vmDetails.lastSyncOn | date:'medium' }}
			</td>
		</tr>
		<tr>
			<td>
				{{'Retirement Date'|translate}}
			</td>
			<td>
				<i class="fa fa-clock-o fa-lg"></i>{{ ::vm.vmDetails.retiresOn | date:'medium' }}
			</td>
		</tr>
		<tr>
			<td>
				{{'Provisioned On'|translate}}
			</td>
			<td>
				{{ ::vm.vmDetails.provisionDate | date:'medium' }}
			</td>
		</tr>
		<tr>
			<td>
				{{'Owner'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.evm_owner.name}}
			</td>
		</tr>
		<tr>
			<td>
				{{'Group'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.miq_group.description}}
			</td>
		</tr>
	</table>

	<table class="vm-details-table">
		<tr>
			<th colspan="2">
				{{'Relationships'|translate}}
			</th>
		</tr>
		<tr ng-if="vm.vmDetails.instance">
			<td>
				{{'Availability Zone'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.instance.availabilityZone}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.instance">
			<td>
				{{'Cloud Tenants'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.instance.cloudTenant}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.instance">
			<td>
				{{'Flavor'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.instance.flavor.name}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.instance">
			<td>
				{{'VM Template'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.instance.miq_provision_template.name}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.ext_management_system.name">
			<td>
				{{'Infrastructure provider'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.ext_management_system.name}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.ems_cluster.name">
			<td>{{'Cluster'|translate}} / {{'Deployment Role'|translate}}</td>
			<td>
				<i class="fa fa-lg pficon pficon-cluster"></i>{{::vm.vmDetails.ems_cluster.name}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.host.name">
			<td>
				Host / Node
			</td>
			<td>
				<i class="fa fa-lg pficon pficon-screen"></i>{{::vm.vmDetails.host.name}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.parent_resource_pool">
			<td>
				{{'Resource Pool'|translate}}
			</td>
			<td>
				<i class="fa fa-lg pficon pficon-resource-pool"></i>{{ ::vm.vmDetails.parent_resource_pool.name }}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.storages.length > 0">
			<td>
				{{'Datastores'|translate}}
			</td>
			<td>
				<span ng-repeat="storage in ::vm.vmDetails.storages"><i class="fa fa-lg fa-database"></i>{{storage.name}}</span>
			</td>
		</tr>
		<tr>
			<td>
				{{'Service'|translate}}
			</td>
			<td>
				<i class="fa fa-lg pficon pficon-service"></i>{{::vm.vmDetails.service.name}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.instance.cloud_networks.length > 0">
			<td>
				{{'Virtual Private Cloud'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.instance.cloud_networks[0].name}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.instance.cloud_subnets.length > 0">
			<td>
				{{'Cloud Subnet'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.instance.cloud_subnets[0].name}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.instance">
			<td>
				{{'Stack'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.instance.orchestrationStack}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.instance">
			<td>
				{{'Cloud Networks'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.instance.cloud_networks.length}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.instance">
			<td>
				{{'Cloud Subnets'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.instance.cloud_subnets.length}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.instance">
			<td>
				{{'Network Routers'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.instance.network_routers.length}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.instance">
			<td>
				{{'Security Groups'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.instance.security_groups.length}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.instance">
			<td>
				{{'Floating IPs'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.instance.floating_ip_addresses.length}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.instance">
			<td>
				{{'Network Ports'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.instance.network_ports.length}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.instance">
			<td>
				{{'Load Balancers'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.instance.load_balancers.length}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.instance">
			<td>
				{{'Cloud Volumes'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.instance.cloud_volumes.length}}
			</td>
		</tr>
		<tr ng-if="vm.vmDetails.cloud===false">
			<td>
				{{'Genealogy'|translate}}
			</td>
			<td>
				{{'Show parent and child VMs'|translate}}
			</td>
		</tr>
		<tr>
			<td>
				{{'Drift History'|translate}}
			</td>
			<td>
				{{ ::vm.vmDetails.driftHistory }}
			</td>
		</tr>
		<tr>
			<td>
				{{'Analysis History'|translate}}
			</td>
			<td>
				{{ ::vm.vmDetails.scanHistoryCount }}
			</td>
		</tr>
	</table>
	<table class="vm-details-table">
		<tr>
			<th colspan="2">
				{{'Compliance'|translate}}
			</th>
		</tr>
		<tr>
			<td>
				{{'Status'|translate}}
			</td>
			<td>
				{{ ::vm.vmDetails.lastComplianceStatus }}
			</td>
		</tr>
		<tr>
			<td>
				{{'History'|translate}}
			</td>
			<td>
				{{ ::vm.vmDetails.complianceHistory }}
			</td>
		</tr>
	</table>

	<table class="vm-details-table">
		<tr>
			<th colspan="2">
				{{'Power Management'|translate}}
			</th>
		</tr>
		<tr>
			<td>
				{{'Power State'|translate}}
			</td>
			<td>
				{{::vm.vmDetails.power_state}}
			</td>
		</tr>
		<tr>
			<td>
				{{'Last Boot Time'|translate}}
			</td>
			<td>
				{{ ::vm.vmDetails.boot_time | date:'medium' }}
			</td>
		</tr>
		<tr>
			<td>
				{{'State Changed On'|translate}}
			</td>
			<td>
				{{ ::vm.vmDetails.state_changed_on | date:'medium' }}
			</td>
		</tr>
	</table>

	<table class="vm-details-table">
		<tr>
			<th colspan="2">
				{{'Security'|translate}}
			</th>
		</tr>
		<tr>
			<td>
				{{'Users'|translate}}
			</td>
			<td>
				<i class="fa fa-lg pficon pficon-user"></i>{{ ::vm.vmDetails.users.length }}
			</td>
		</tr>
		<tr>
			<td>
				{{'Groups'|translate}}
			</td>
			<td>
				<i class="fa fa-lg pficon pficon-users"></i>{{ ::vm.vmDetails.groups.length }}
			</td>
		</tr>
		<tr ng-show="vm.vmDetails.instance">
			<td>
				{{'Key Pairs'|translate}}
			</td>
			<td>
				{{ ::vm.vmDetails.instance.keyPairLabels.join(',') }}
			</td>
		</tr>
	</table>
	<table class="vm-details-table">
		<tr>
			<th colspan="2">
				{{'Configuration'|translate}}
			</th>
		</tr>
		<tr>
			<td>
				{{'Packages'|translate}}
			</td>
			<td>
				{{ ::vm.vmDetails.guest_applications.length }}
			</td>
		</tr>
		<tr>
			<td>
				{{'Init Processes'|translate}}
			</td>
			<td>
				{{ ::vm.vmDetails.linux_initprocesses.length }}
			</td>
		</tr>
		<tr>
			<td>
				{{'Files'|translate}}
			</td>
			<td>
				{{ ::vm.vmDetails.files.length }}
			</td>
		</tr>
	</table>
</div>