<div class="breadcrumb-bar">
  <span>
      <ol class="breadcrumb">
        <li>
          <a href="#" ui-sref="orders"> {{'My Orders'|translate}}</a>
        </li>
        <li class="active">{{'Order #' |translate}}{{vm.order.id}}</li>
      </ol>
  </span>
</div>

<div class="ss-details-wrapper">
  <div class="panel panel-default ss-details-panel">
    <div class="panel-body">
      <section>
        <div class="col-md-12 ss-details-header">
          <div class="row">
            <div class="col-md-12">
              <div class="ss-details-header__title-img">
                <span class="ss-details-header__title-img__center"></span>
                <img class="ss-details-header__title-img__logo" ng-if="!vm.serviceTemplate.picture.image_href"
                alt="{{ ::vm.order.name }}" src="images/service.png"/>
                <img class="ss-details-header__title-img__logo" ng-if="vm.serviceTemplate.picture.image_href "
                alt="{{ ::vm.order.name }}" ng-src="{{ ::vm.serviceTemplate.picture.image_href }}"/>
              </div>
              <div class="ss-details-header__title">
                <h2>{{'Order #' |translate}}{{vm.order.id}}</h2>
                <h4> {{'ordered on' | translate}} {{ ::(vm.order.placed_at || vm.order.updated_at) | date }}</h4>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="ss-details-panel">
    <div class="list-view-container order-details">
      <requests-list items="vm.order.service_requests" config="vm.requestListConfig"></requests-list>
    </div>
  </div>
</div>
