<ol class="breadcrumb">
  <li>
    <a ui-sref="^">{{'Service Catalogs'|translate}}</a>
  </li>
  <li>
    <a ui-sref="services.details({serviceId: vm.serviceId})">
      {{'Service'|translate}}: {{ ::vm.service.name }}
    </a>
  </li>
  <li class="active"> <strong translate>Custom Button:</strong> {{ ::vm.button.name }} </li>
</ol>

<div class="panel panel-default ss-details-panel">
  <div class="panel-body">
    <section>
    <div class="col-md-12 ss-details-header ss-marketplace-details-header">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ss-details-header__actions">
          <button type="button" class="btn btn-primary" ng-click="vm.submitCustomButton()" translate>Submit Request</button>
        </div>
      </div>
    </div>
    </section>
  </div>
</div>

<div class="panel panel-default ss-details-panel ss-marketplace-details-form">
  <div class="panel-body">
    <section>
    <div class="col-md-12">
      <div class="row">
        <div ng-repeat="dialog in ::vm.dialogs">
          <dialog-content dialog="dialog"></dialog-content>
        </div>
      </div>
    </div>
    </section>
  </div>
</div>
