<div>
  <div ng-if="vm.workflow">
    <h2 translate>Request Workflow Details</h2>
      <uib-tabset>
        <uib-tab ng-repeat="tab in vm.workflow.dialogs.dialog_order" heading="{{vm.workflow.dialogs.dialogs[tab].description}}">
          <div class="panel panel-default" ng-repeat="x in vm.customizedWorkflow['dialogs'][tab].panelTitle track by $index">
            <div class="panel-heading" ng-if="vm.customizedWorkflow['dialogs'][tab].panelTitle[$index]">
              <strong>{{vm.customizedWorkflow['dialogs'][tab].panelTitle[$index]}}</strong>
            </div>
            <div class="panel-body">
            </div>
          </div>
      </uib-tabset>
  </div>
</div>
