# yarn/npm
node_modules/
npm-debug.log
package-lock.json
yarn-error.log

# coverage
reports/

### Project Files ###
.idea*

# test build
dist/

### Zanata config ###
zanata.local.json

### Git Version file ###
client/version/version.json
