# yarn/npm
node_modules/
npm-debug.log
package-lock.json
yarn-error.log
yarn.lock

# coverage
reports/

### Project Files ###
.idea*

# test build
dist/

### Git Version file ###
client/version/version.json
