language: node_js
node_js:
- "6"
sudo: false
cache:
  directories:
  - node_modules
before_install:
- bundle install
- npm install -g gulp bower
after_script:
- codeclimate-test-reporter < reports/coverage/report-lcov/lcov.info
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/c8c40bc13ee38867f698
    on_success: change
    on_failure: always
    on_start: never
