language: node_js
node_js:
- "6.7.0"
sudo: false
cache:
  directories:
  - node_modules
before_install:
- npm install -g yarn gulp bower
install:
- yarn install
- bower install -F
- gulp build
after_script:
- codeclimate-test-reporter < reports/coverage/report-lcov/lcov.info
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/c8c40bc13ee38867f698
    on_success: change
    on_failure: always
    on_start: never
