language: node_js
node_js:
- "6.7.0"
sudo: false
cache:
  directories:
  - node_modules
before_install:
- npm install -g yarn@0.18.1
install:
- yarn install --force
after_script:
- codeclimate-test-reporter < reports/coverage/report-lcov/lcov.info
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/c8c40bc13ee38867f698
    on_success: change
    on_failure: always
    on_start: never
env: 
  global:
  - MOCK_API_HOST=localhost:3004
addons:
  sauce_connect: true
script:
- yarn start:mock-api &
- yarn start &
- '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && yarn test:e2e || true'