<div class="modal-header">
  <button type="button" class="close" ng-click="vm.cancel()" aria-hidden="true">
    <span class="pficon pficon-close"></span>
  </button>
  <h4 class="modal-title" id="myModalLabel" translate>Schedule Service Retirement</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal">
      <div pf-form-group pf-input-class="col-sm-8" pf-label-class="col-sm-3" pf-label="{{'Retirement Warning'|translate}}">
        <select pf-select ng-model="vm.modalData.warn" class="form-control" ng-options="opt.value as opt.label for opt in vm.visibleOptions">
        </select>
      </div>
    <div pf-form-group pf-input-class="col-sm-8" pf-label-class="col-sm-3" pf-label="{{'Retirement Date'|translate}}">
      <div pf-datepicker options="vm.dateOptions" date="vm.modalData.date"></div>
    </div>
  </form>
  <hr>
  <h4 translate>Affected Services</h4>
  <icon-list items="vm.services"></icon-list>
</div>
<div class="modal-footer">
  <action-button-group
    modal-data="vm.modalData"
    reset-modal="vm.resetModal"
    on-reset="vm.reset($event)"
    on-cancel="vm.cancel()"
    on-save="vm.save()">
  </action-button-group>
</div>
