<div class="modal-header">
  <button type="button" class="close" ng-click="vm.cancel()" aria-hidden="true">
    <span class="pficon pficon-close"></span>
  </button>
  <h4 class="modal-title" id="myModalLabel" translate>Schedule Service Retirement</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <pf-form-group pf-input-class="col-sm-8" pf-label-class="col-sm-3" pf-label="{{'Retirement Warning'|translate}}">
      <pf-select selected="vm.modalData.warn" empty-value="{{'Nothing Selected' | translate}}" options="vm.visibleOptions"
                 display-field="label"></pf-select>
    </pf-form-group>
    <pf-form-group pf-input-class="col-sm-8" pf-label-class="col-sm-3" pf-label="{{'Retirement Date'|translate}}">
      <p class="input-group">
        <input uib-datepicker-popup type="text" class="form-control" ng-model="vm.modalData.date" is-open="open"
               datepicker-options="vm.dateOptions" close-text="Close"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open = !open">
              <i class="fa fa-calendar"></i></button>
          </span>
      </p>
    </pf-form-group>
  </form>
  <hr>
  <h4 translate>Affected Services</h4>
  <icon-list items="vm.services"></icon-list>
</div>
<div class="modal-footer">
  <action-button-group
    data="vm.modalData"
    reset-button="vm.resetModal"
    on-reset="vm.reset($event)"
    on-cancel="vm.cancel()"
    on-save="vm.save()">
  </action-button-group>
</div>
