<div class="modal-header">
  <button type="button" class="close" ng-click="vm.cancel()" aria-hidden="true">
    <span class="pficon pficon-close"></span>
  </button>
  <h4 class="modal-title" id="myModalLabel" translate>Edit Service</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <pf-form-group pf-label="{{'Name'|translate}}" required>
      <input id="name" name="name" ng-model="vm.modalData.name" type="text" required/>
    </pf-form-group>
    <pf-form-group pf-input-class="col-sm-9" pf-label="{{'Description'|translate}}">
        <textarea id="description" name="description" ng-model="vm.modalData.description">
          {{ vm.modalData.description }}
        </textarea>
    </pf-form-group>
  </form>
</div>
<div class="modal-footer">
  <action-button-group
    data="vm.modalData"
    reset-button="true"
    on-cancel="vm.cancel()"
    on-reset="vm.reset($event)"
    on-save="vm.save()">
  </action-button-group>
</div>