<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">
    <span class="pficon pficon-close"></span>
  </button>
  <h3 class="modal-title">Select {{vm.entryPointTypeTitle}} Entry Point</h3>
</div>
<div class="modal-body">
  <div id="entryPointsTree" ng-model="vm.selectedEntryPoint" browse-entry-point></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$dismiss()" translate>Cancel</button>
  <button type="button"
          class="btn btn-primary"
          ng-click="vm.saveEntryPoint()" translate>
          Save
  </button>
</div>