<span class="form-group">
   <ul class="pagination">
      <li ng-class="{'disabled': vm.disabled('left')}">
         <span class="i fa fa-angle-double-left" title="First" alt="First" type="button"
               ng-click="vm.previous(true)"></span>
      </li>
      <li ng-class="{'disabled':  vm.disabled('left')}">
         <span class="i fa fa-angle-left" title="Previous" title="Previous" alt="Previous" type="button"
               ng-click="vm.previous()" ></span>
      </li>
      <li>
         <span ng-if="vm.limit < vm.count">
         {{ vm.leftBoundary }} - {{ vm.rightBoundary }} {{'of' | translate}} {{ vm.count }}
         </span>
         <span ng-if="vm.limit > vm.count">
         {{ vm.leftBoundary }} - {{ vm.limit }} {{'of' | translate}} {{ vm.count }}
         </span>
      </li>
      <li ng-class="{'disabled': vm.disabled('right')}">
         <span class="i fa fa-angle-right" title="Next" alt="Next" type="button" ng-click="vm.next()"></span>
      </li>
      <li ng-class="{'disabled': vm.disabled('right')}">
         <span class="i fa fa-angle-double-right" title="Last" alt="Last"
               type="button" ng-click="vm.next(true)"></span>
      </li>
   </ul>
</span>
