<div class="breadcrumb-bar">
  <span>
    <ol class="breadcrumb">
      <li class="active">{{ 'My Services' | translate }}</li>
    </ol>
  </span>
</div>

<pf-toolbar class="section-toolbar section-toolbar-right-actions" config="vm.toolbarConfig">
  <actions>
    <custom-dropdown class="custom-dropdown pull-left"
                     config="item"
                     items="vm.selectedItemsList"
                     items-count="vm.toolbarConfig.filterConfig.selectedCount"
                     ng-repeat="item in vm.listActions"
                     on-update="vm.listActionDisable($config, $changes)"
                     menu-right="true">
    </custom-dropdown>
  </actions>
</pf-toolbar>

<div class="list-view-container section-container explorer-list">
  <loading status="vm.loading"></loading>
  <pf-list-view ng-if="!vm.loading" id="serviceList" config="vm.listConfig"
                items="vm.servicesList"
                menu-actions="vm.menuActions"
                update-menu-action-for-item-fn="vm.updateMenuActionForItemFn"
                custom-scope="vm">
        <div class="row service-explorer-row">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-8 name-column">
        <span class="no-wrap">
         <i class="fa pficon power-icon" ng-class="item.power.icon"
            uib-tooltip="{{item.power.tooltip}}"
            tooltip-append-to-body="true"
            tooltip-popup-delay="1000"
            tooltip-placement="bottom"></i>
        <a uib-tooltip="{{item.name}}"
           tooltip-placement="bottom"
           tooltip-append-to-body="true"
           tooltip-popup-delay="1000"
        >
          <span class="ss-list-view__title-img">
            <span class="ss-list-view__title-img__center"></span>
            <img class="ss-list-view__title-img__logo" ng-src="{{ item.picture.image_href }}"
                 ng-if=" item.picture.image_href"/>
            <img class="ss-list-view__title-img__logo" src="images/service.png" ng-if=" !item.picture.image_href"/>
          </span>
          <span>
            {{ item.name }}
          </span>
        </a>
        </span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4" ng-if="!$ctrl.customScope.isAnsibleService(item)">
        <span class="no-wrap" uib-tooltip="{{ '[[number]] VMs'|translate|substitute:{number: item.v_total_vms} }}"
              tooltip-append-to-body="true"
              tooltip-popup-delay="1000"
              tooltip-placement="bottom-left">
           <i class="pficon pficon-screen"></i>
          <span>
            {{ item.v_total_vms }}
          </span>
        </span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4" ng-if="$ctrl.customScope.isAnsibleService(item)">
        <span class="no-wrap"
              uib-tooltip="{{ 'Playbook: [[playbook]]'|translate|substitute:{playbook: item.playbook} }}"
              tooltip-append-to-body="true"
              tooltip-popup-delay="1000"
              tooltip-placement="bottom">
          {{item.playbook}}
        </span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                <div class="list-view-stacked-item" uib-tooltip="Created: {{item.created_at | date : 'short'}}"
                     tooltip-append-to-body="true"
                     tooltip-popup-delay="1000"
                     tooltip-placement="bottom-left">
                    <strong translate>Created</strong>
                    <div>
                        {{ item.created_at | date : 'short' }}
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                <div class="list-view-stacked-item"
                     uib-tooltip="{{item.retires_on ? (item.retires_on | date : 'medium') : ('Never' | translate)}}"
                     tooltip-append-to-body="true"
                     tooltip-popup-delay="1000"
                     tooltip-placement="bottom-left">
                    <strong translate>Retires</strong>&nbsp;
                    <div>
                        {{item.retires_on ? (item.retires_on | date : 'short') : ('Never' | translate)}}
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
        <span class="no-wrap">
          <strong ng-if="item.chargeback_relative_cost"
                  uib-tooltip="{{'Relative current cost'|translate}}"
                  tooltip-append-to-body="true"
                  tooltip-popup-delay="1000"
                  tooltip-placement="bottom">
            {{ item.chargeback_relative_cost }}
          </strong>
          <i ng-if="!item.chargeback_relative_cost"
             class="fa fa-question-circle-o fa-fw"
             uib-tooltip="{{'Cost not available'|translate}}"
             tooltip-append-to-body="true"
             tooltip-popup-delay="1000"
             tooltip-placement="bottom">
          </i>
        </span>
            </div>
        </div>
        <list-expanded-content>
            <pf-list-view
                    class="explorer-children-list"
                    config="vm.serviceChildrenListConfig"
                    items="$parent.item.all_service_children"
                    custom-scope="vm"
                    update-menu-action-for-item-fn="vm.updateMenuActionForItemFn">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-8 name-column">
            <span class="no-wrap">
              <i class="fa pficon" ng-class="item.power.icon"
                 uib-tooltip="{{item.power.tooltip}}"
                 tooltip-append-to-body="true"
                 tooltip-popup-delay="1000"
                 tooltip-placement="bottom"></i>
              <a uib-tooltip="{{item.name}}"
                 tooltip-placement="bottom"
                 tooltip-append-to-body="true"
                 tooltip-popup-delay="1000"
              >
              <span class="ss-list-view__title-img">
                <span class="ss-list-view__title-img__center"></span>
                <img class="ss-list-view__title-img__logo" ng-src="{{ item.picture.image_href }}"
                     ng-if=" item.picture.image_href"/>
                <img class="ss-list-view__title-img__logo" src="images/service.png" ng-if=" !item.picture.image_href"/>
              </span>
              <span>
                {{ item.name }}
              </span>
              </a>
            </span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                        <div class="list-view-stacked-item" uib-tooltip="Created: {{item.created_at | date : 'short'}}"
                             tooltip-append-to-body="true"
                             tooltip-popup-delay="1000"
                             tooltip-placement="bottom-left">
                            <strong translate>Created</strong>
                            <div>
                                {{ item.created_at | date : 'short' }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                        <div class="list-view-stacked-item"
                             uib-tooltip="{{item.retires_on ? (item.retires_on | date : 'medium') : ('Never' | translate)}}"
                             tooltip-append-to-body="true"
                             tooltip-popup-delay="1000"
                             tooltip-placement="bottom">
                            <strong translate>Retires</strong>&nbsp;
                            <div>
                                {{item.retires_on ? (item.retires_on | date : 'short') : ('Never' | translate)}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
                    </div>
                </div>
                <div uib-dropdown="" dropdown-append-to-body class="dropdown dropdown-kebab-pf"
                     ng-if="!$ctrl.customScope.isAnsibleService(item)">
                    <button uib-dropdown-toggle="" class="btn btn-link dropdown-toggle" type="button"
                            ng-class="{'disabled': checkDisabled(item)}">
                        <span class="fa fa-ellipsis-v"></span>
                    </button>
                    <ul uib-dropdown-menu="" class="dropdown-menu dropdown-menu-right dropdown-menu-appended-to-body">
                        <li role="menuitem" ng-class="{'disabled': !$ctrl.customScope.actionEnabled('start', item)}">
                            <a title="{{'Start this service' | translate}}"
                               ng-click="$ctrl.customScope.startService(null, item)"
                               translate>Start</a>
                        </li>
                        <li role="menuitem" ng-class="{'disabled': !$ctrl.customScope.actionEnabled('stop', item)}">
                            <a title="{{'Stop this service' | translate}}"
                               ng-click="$ctrl.customScope.stopService(null, item)"
                               translate>Stop</a>
                        </li>
                        <li role="menuitem" ng-class="{'disabled': !$ctrl.customScope.actionEnabled('suspend', item)}">
                            <a title="{{'suspend this service' | translate}}"
                               ng-click="$ctrl.customScope.suspendService(null, item)"
                               translate>Suspend</a>
                        </li>
                    </ul>
                </div>
            </pf-list-view>
        </list-expanded-content>
  </pf-list-view>
</div>

<explorer-pagination check-all="vm.checkAll"
                     count="vm.toolbarConfig.filterConfig.resultsCount"
                     limit-options="vm.limitOptions"
                     limit="vm.limit"
                     on-update="vm.paginationUpdate($limit, $offset)">
</explorer-pagination>
