<div class="row">
  <div class="col-md-6">
    <input type="text" class="form-control" placeholder="Select a Category"
      ng-model=""
      uib-typeahead=""
      typeahead-min-length="0">
  </div>
  <div class="col-md-6">
    <select pf-select multiple class="form-control" ng-model="" ng-options="">
    </select>
  </div>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr><th>Category</th><th>Assigned Value</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>Auto-Approve - Max Retirement</td>
      <td>
        <span class="label label-info">Desktop</span>
      </td>
    </tr>
  </tbody>
</table>
