@function containsModifier($selector) {
  $selector: selectorToString($selector);
  @if str-index($selector, $modifier-separator) {
    @return true;
  } @else {
    @return false;
  }
}

@function selectorToString($selector) {
  $selector: inspect($selector);
  $selector: str-slice($selector, 2, -2);
  @return $selector;
}

@function getBlock($selector) {
  $selector: selectorToString($selector);
  $modifier-start: str-index($selector, $modifier-separator) - 1;
  @return str-slice($selector, 0, $modifier-start);
}
