<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">
    <span class="pficon pficon-close"></span>
  </button>
  <h3 class="modal-title">Delete Blueprint</h3>
</div>
<div class="modal-body">
  <h3 translate translate-n="vm.blueprintsList.length" translate-plural="Are you sure you want to delete {{$count}} blueprints?">Are you sure you want to delete {{vm.blueprintsList[0].name}}?</h3>
  <span ng-if="vm.blueprintsList.length > 1">
    <a href="#blueprintsList" id="blueprintsListHref" data-toggle="collapse" class="collapsed" translate>Show Blueprint Names</a>
    <div id="blueprintsList" class="collapse">
       <div ng-repeat="blueprint in vm.blueprintsList" class="deleteBlueprintsList">{{blueprint.name}}</div>
    </div>
  </span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$dismiss()" translate>Cancel</button>
  <button type="button"
          class="btn btn-primary"
          ng-click="vm.deleteBlueprints()">
          Delete
  </button>
</div>
