<span class="pull-left" ng-repeat="button in vm.filteredButtons">
  <span uib-tooltip="{{(button.enabled? button.description: button.disabled_text)}}"
         tooltip-placement="top" class="custom-button-tooltip">
    <button class="btn btn-default custom-button-action"
            ng-if="vm.hasRequiredRole(button)"
            ng-disabled="!button.enabled"
            ng-click="vm.invokeCustomAction(button)">
      <i ng-class="button.options.button_icon" ng-style="{color: button.options.button_color }"></i>
      <span ng-if="button.options.display">
        {{ button.name }}
      </span>
    </button>
  </span>
</span>
<span class="pull-left" ng-repeat="buttonGroup in vm.filteredGroups">
  <div uib-dropdown class="btn-group">
    <button class="btn btn-default"
            id="{{buttonGroup.id}}"
            uib-dropdown-toggle
            uib-tooltip="{{buttonGroup.description}}"
            tooltip-placement="top">
      <i ng-class="buttonGroup.set_data.button_icon" ng-style="{color: buttonGroup.set_data.button_color }"></i>
      {{ buttonGroup.name.split('|')[0] }}
      <span class="caret"></span>
    </button>
    <ul uib-dropdown-menu role="menu" aria-labelledby="{{buttonGroup.id}}">
      <li ng-repeat="button in buttonGroup.buttons" role="presentation">
        <a class="custom-button-action" 
           role="menuitem"
           tabindex="-1"
           ng-class="{'disabled': !button.enabled}"
           ng-if="vm.hasRequiredRole(button)"
           ng-click="vm.invokeCustomAction(button)"
           uib-tooltip="{{ button.enabled ? button.description : button.disabled_text }}"
           tooltip-placement="left">
          <i ng-class="button.options.button_icon" ng-style="{color: button.options.button_color }"></i>
          <span ng-if="button.options.display">
            {{ button.name }}
          </span>
        </a>
      </li>
    </ul>
  </div>
</span>
