<div class="breadcrumb-bar">
  <span>
      <ol class="breadcrumb">
        <li>
          <a ui-sref="{{ vm.breadcrumb.url }}">{{ vm.breadcrumb.title }}</a>
        </li>
        <li class="active">{{ ::vm.serviceTemplate.name }}</li>
      </ol>
  </span>
</div>

<div class="ss-details-wrapper">
  <div class="panel panel-default ss-details-panel">
    <div class="panel-body">
      <section>
        <div class="col-md-12 ss-details-header ss-marketplace-details-header">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <div class="ss-details-header__title-img">
                <span class="ss-details-header__title-img__center"></span>
                <img class="ss-details-header__title-img__logo" ng-if="!vm.serviceTemplate.picture.image_href"
                  alt="{{ ::vm.serviceTemplate.name }}" src="images/service.png"/>
                <img class="ss-details-header__title-img__logo" ng-if="vm.serviceTemplate.picture.image_href "
                  alt="{{ ::vm.serviceTemplate.name }}" ng-src="{{ ::vm.serviceTemplate.picture.image_href }}"/>
              </div>
              <div class="ss-details-header__title">
                <h2>{{ ::vm.serviceTemplate.name }}</h2>
                <h4 ng-bind-html="::vm.serviceTemplate.long_description || vm.serviceTemplate.description"></h4>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="panel panel-default ss-details-panel ss-marketplace-details-form">
    <div class="panel-body">
      <section>
        <loading status="vm.loading"></loading>
        <div class="col-md-12" ng-show="!vm.loading">
          <div class="row">
           <div ng-repeat="dialog in ::vm.parsedDialogs">
              <dialog-user class="dialog-box" dialog="dialog" refresh-field="vm.refreshField(field)" on-update="vm.setDialogData(data)"></dialog-user>
              <button type="button"
                      class="btn btn-primary"
                      ng-disabled="vm.addToCartDisabled()"
                      confirmation
                      confirmation-if="vm.alreadyInCart()"
                      confirmation-title="{{'Duplicate Shopping Cart Item'|translate}}"
                      confirmation-message="{{'There already is an identical item in the cart. Do you want to add it anyway?'|translate}}"
                      confirmation-ok-text="{{'Add to Shopping Cart'|translate}}"
                      confirmation-on-ok="vm.addToCart()"
                      confirmation-ok-style="primary"
                      confirmation-show-cancel="true">
                <span class="spinner spinner-xs spinner-inline" ng-show="vm.addingToCart"></span>
                {{"Add to Shopping Cart"|translate}}
              </button>
              <button type="button"
                      class="btn btn-default"
                      ui-sref="catalogs">
                {{"Cancel"|translate}}
              </button>
           </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
