<div class="dual-pane-selector">
  <div class="dual-pane-selector-list-container">
    <div class="dual-pane-selector-list dual-pane-selector-list-left">
      <label>{{vm.availableTitle}}</label>
      <div class="dual-pane-selector-items-container">
        <div class="dual-pane-selector-item"
             ng-repeat="item in vm.availableItems track by $index"
             ng-class="{selected: vm.isAvailableItemSelected(item)}">
          <div class="dual-pane-selector-info"
               ng-click="vm.availableItemClick(item)"
               ng-dblclick="vm.availableItemDoubleClick(item)">
            <span class="dual-pane-selector-item-container" ng-transclude="available"></span>
            <span class="dual-pane-selector-item-select-indicator fa fa-check"></span>
          </div>
        </div>
      </div>
      <label class="dual-pane-selector-count-text">{{vm.availableCountText}}</label>
    </div>
  </div>
  <div class="dual-pane-selector-button-container">
    <div class="dual-pane-selector-select-button-container dual-pane-selector-select-button-container-top">
      <button class="dual-pane-selector-select-button btn btn-link fa fa-angle-right"
              ng-click="vm.selectItems()"
              ng-disabled="vm.selectedAvailableItems.length < 1">
      </button>
    </div>
    <div class="dual-pane-selector-select-button-container dual-pane-selector-select-button-container-bottom">
      <button class="dual-pane-selector-unselect-button btn btn-link fa fa-angle-left"
              ng-click="vm.unSelectItems()"
              ng-disabled="vm.selectedSelectedItems.length < 1">
      </button>
    </div>
  </div>
  <div class="dual-pane-selector-list-container">
    <div class="dual-pane-selector-list dual-pane-selector-list-right">
      <label>{{vm.selectedTitle}}</label>
      <div class="dual-pane-selector-items-container">
        <div class="dual-pane-selector-item"
             ng-repeat="item in vm.selectedItems track by $index"
             ng-class="{selected: vm.isSelectedItemSelected(item)}">
          <div class="dual-pane-selector-info"
             ng-click="vm.selectedItemClick(item)"
             ng-dblclick="vm.selectedItemDoubleClick(item)">
            <div class="dual-pane-selector-item-container" ng-transclude="selected"></div>
            <div class="dual-pane-selector-item-select-indicator fa fa-check"></div>
          </div>
        </div>
      </div>
      <label class="dual-pane-selector-count-text">{{vm.selectedCountText}}</label>
    </div>
  </div>
</div>
