<div class="drawer-pf-action footer-actions">
  <div class="footer-button-left">
    <a class="btn btn-link" role="button"
       ng-class="{'disabled': !notificationGroup.notifications || notificationGroup.notifications.length === 0}"
       ng-click="$ctrl.customScope.markAllRead(notificationGroup)">
      <span>{{'Mark All Read' | translate}}</span>
    </a>
  </div>
  <div class="footer-button-right">
    <a class="btn btn-link" role="button"
       ng-class="{'disabled': !notificationGroup.notifications || notificationGroup.notifications.length === 0}"
       confirmation
       confirmation-title="{{'Clear All [[heading]]'|translate|substitute:{heading: notificationGroup.heading} }}"
       confirmation-message="{{'Are you sure you would like to clear all [[heading]]?'|translate|substitute:{heading: notificationGroup.heading} }}"
       confirmation-ok-text="{{'Clear All'|translate}}"
       confirmation-on-ok="$ctrl.customScope.clearAllNotifications(notificationGroup)"
       confirmation-ok-style="primary"
       confirmation-show-cancel="true" >
      <span>{{'Clear All' | translate}}</span>
    </a>
  </div>
</div>
