@import '../../../assets/sass/app_colors'

.detail-row
  border-bottom: solid 1px $app-color-gray-2
  overflow: auto
  padding: 5px 0

  &.details-exist
    cursor: pointer

  &:hover
    background-color: $app-color-light-gray-2

  &.row-active
    background-color: $app-color-light-gray-2
    border: 1px solid $app-color-blue

  .sub-row
    &:hover
      background-color: $app-color-white

.detail-reveal-arrow-container
  border-right: 1px solid $app-color-gray-2
  display: inline-block
  height: 21px
  margin-right: 13px
  padding-right: 15px
  width: 25px

  &.no-details
    visibility: hidden

.detail-reveal-arrow
  vertical-align: 0
  width: 10px

  &.no-details
    color: $app-color-light-gray-5

.item-extra-details-container
  border: 1px solid $app-color-blue
  border-top: 0
  padding-bottom: 10px

  .close-button-container
    height: 16px
    padding: 12px

    i
      cursor: pointer
      float: right

  .detail-content
    padding-left: 83px
