.blueprints-list-toggle
  font-size: 16px
  text-decoration: none

  &::before
    color: $color-gray
    content: '\f107'
    font-family: 'FontAwesome'
    padding-right: 10px

  &.collapsed
    &::before
      content: '\f105'

.delete-blueprints-list
  font-size: 16px
  padding-left: 20px
