<span ng-controller="BlueprintEditorController as evm" ng-class="{'wait-cursor': loading}">
  <span class="blueprint-designer-header">
    <ol class="breadcrumb">
        <li>
            <a ui-sref="^"> <span class="fa fa-angle-double-left"/>&nbsp;{{'Back to Blueprints'|translate}}</a>
        </li>
        <li class="active"><strong translate>Blueprint Editor: </strong>
            <input type="text" class="blueprint-name-input" ng-model="evm.blueprint.name"
                   placeholder="{{'Untitled Blueprint'|translate}}">
            <button class="btn btn-primary btb-sm" type="button" ng-click="evm.saveBlueprint()" id="saveBtm"
                    ng-class="{'disabled': evm.blueprintUnchanged()}" data-toggle="tooltip" data-placement="bottom"
                    title="{{'Save Blueprint'|translate}}" translate>Save
            </button>
        </li>
    </ol>
  </span>

  <div class="blueprint-designer-container">

      <div class="toolbar">
          <button id="toggleToolbox" class="btn btn-primary" ng-class="{'disabled': evm.inConnectingMode}" type="button" ng-click="evm.showToolbox()"
                  data-toggle="tooltip" data-placement="bottom" title="Add Service Item To Canvas" translate>Add Item
          </button>
          <button id="duplicateItem" class="btn" type="button" ng-class="{'disabled': !evm.onlyOneTtemSelected() || evm.inConnectingMode}"
                  ng-click="evm.duplicateSelectedItem()" data-toggle="tooltip" data-placement="bottom"
                  title="Duplicate Item (Ctrl-D)" translate>Duplicate
          </button>
          <button id="removeItems" class="btn" type="button" ng-class="{'disabled': !evm.itemsSelected() || evm.inConnectingMode}"
                  ng-click="evm.removeSelectedItemsFromCanvas()" data-toggle="tooltip" data-placement="bottom"
                  title="Remove Items From Canvas" translate>Remove
          </button>
          <span class="more-actions">
              <button id="blueprintDetails" class="btn" type="button" ng-click="evm.editDetails()" data-toggle="tooltip"
                      ng-class="{'disabled': evm.inConnectingMode, 'wait-cursor': loading}"
                      data-placement="bottom" title="{{'Edit Blueprint Details' | translate}}" translate>Blueprint Details
              </button>
              <span class="showHideConnectors">
                  <input  ng-class="{'disabled': evm.inConnectingMode}"
                          ng-model="evm.hideConnectors"
                          ng-change="evm.toggleshowHideConnectors()"
                          type="checkbox"
                          ng-checked="evm.hideConnectors">
                  <span class="showHideConnectorsLabel" translate>Hide Connectors</span>
              </span>
          </span>
      </div>

      <div class="toolbox-canvas-container"
           ng-controller="CanvasController as cvm"
           mouse-capture>

          <div class="toolbox-container" id="toolbox" ng-if="evm.toolboxVisible">

              <tabset>
                  <tab ng-repeat="tab in evm.tabs" heading="" active="tab.active">
                      <tab-heading ng-click="evm.tabClicked()">
                          <div class="tab-pre-title">{{tab.preTitle}}</div>
                          <div class="tab-title" ng-class="{'tab-single-line':tab.preTitle == null}">{{tab.title}}</div>
                      </tab-heading>

                      <tabset class="subtabs" ng-if="tab.subtabs">
                          <tab ng-repeat="subtab in tab.subtabs" heading="{{subtab.title}}" active="subtab.active" ng-click="evm.tabClicked()">

                              <tabset class="subtabs" ng-if="subtab.subtabs">
                                  <tab ng-repeat="subsubtab in subtab.subtabs" heading="{{subsubtab.title}}" active="subsubtab.active" ng-click="evm.tabClicked()">
                                      <draggable-items items="subsubtab.items"
                                                       start-drag-callback="cvm.startCallback"
                                                       click-callback="cvm.addNodeByClick"
                                                       search-text="evm.searchText"/>
                                  </tab>
                              </tabset>

                              <!-- SubTabs without Sub-Sub Tabs -->
                              <draggable-items ng-if="!subtab.subtabs"
                                               items="subtab.items"
                                               start-drag-callback="cvm.startCallback"
                                               click-callback="cvm.addNodeByClick"
                                               search-text="evm.searchText"/>
                          </tab>
                      </tabset>

                      <!-- Primary Tabs without SubTabs (Bundles) -->
                      <draggable-items ng-if="!tab.subtabs" items="tab.items"
                          start-drag-callback="cvm.startCallback"
                          click-callback="cvm.addNodeByClick"
                          search-text="evm.searchText"/>
                  </tab>
              </tabset>

              <div class="toolbox-footer">
                  <!-- Create New Item -->
                  <div class="new-catalog-item" ng-if="evm.getNewItem()"
                       data-drag="true" jqyoui-draggable="{onStart:'cvm.startCallback( evm.getNewItem() )'}"
                       data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                       ng-click="cvm.addNodeByClick( evm.getNewItem() )">
                      <span class="pficon pficon-add-circle-o"></span>
                      <span class="new-catalog-item-label">{{'Create' | translate}} {{evm.getNewItem().name}}</span>
                      <span ng-if="evm.getNewItem().icon" class="{{evm.getNewItem().icon}} new-catalog-item-icon"></span>
                  </div>
                  <!-- Filter -->
                  <input ng-model="evm.searchText" id="filterFld" class="search-text"
                         placeholder="{{'Filter by name' | translate}}">
                  <a ng-click="evm.searchText = ''"><span class="pficon pficon-close clear-search-text"></span></a>
              </div>
              <div class="close-toolbox">
                  <a ng-if="evm.toolboxVisible" ng-click="evm.hideToolbox()" style="cursor: pointer"><span
                          class="fa fa-angle-double-up fa-2x"></span></a>
              </div>
          </div>

          <div class="canvas-container" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop:'cvm.dropCallback'}">
              <flow-chart class="canvas" ng-class="{'canvas-in-connection-mode': evm.inConnectingMode}" chart="cvm.chartViewModel"></flow-chart>
          </div>
      </div>
  </div>
</span>