<div class="breadcrumb-bar">
  <span>
      <ol class="breadcrumb">
        <li class="active">{{'Templates'|translate}}</li>
      </ol>
  </span>
</div>
<pf-toolbar class="section-toolbar section-toolbar-right-actions" config="vm.toolbarConfig">
  <actions>
    <custom-dropdown
      class="custom-dropdown pull-left"
      config="item"
      items="vm.selectedItemsList"
      items-count="vm.selectedItemsList.length"
      ng-repeat="item in vm.actionConfig"
      on-update="vm.listActionDisable($config, $changes)"
      menu-right="true">
    </custom-dropdown>
  </actions>
</pf-toolbar>
<div class="list-view-container section-container explorer-list"
       confirmation
       confirmation-id="confirmDeleteTemplate"
       confirmation-trigger-value="vm.confirmDelete"
       confirmation-title="{{'Delete Template'|translate}}"
       confirmation-message="{{vm.deleteConfirmationMessage}}"
       confirmation-ok-text="{{'Delete'|translate}}"
       confirmation-on-ok="vm.removeTemplate()"
       confirmation-on-cancel="vm.cancelRemoveTemplate()"
       confirmation-ok-style="primary"
       confirmation-show-cancel="true"
       confirmation-items-title="{{'Templates'|translate}}"
       confirmation-items="vm.templatesToDelete"
       confirmation-item-name-field="name"
>
  <loading status="vm.loading"></loading>
  <pf-list-view ng-if="!vm.loading"
       id="templatesList"
       config="vm.listConfig"
       class="explorer-children-list"
       items="vm.templatesList"
       custom-scope="vm"
       menu-actions="vm.menuActions">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
        <span class="no-wrap">
          <span class="ss-list-view__title-img">
              <span class="ss-list-view__title-img__center">
                <img class="ss-list-view__title-img__logo" ng-src="{{ item.logo }}"/>
              </span>
          </span>
            <span class="label label-default" ng-if="item.draft" translate>Draft</span>
          <a ui-sref="templates.details({templateId: item.id})">
           <span>
            {{ item.name }}
           </span>
          </a>
        </span>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
        <span class="no-wrap">
            <strong ng-if="item.description" translate>Description</strong> {{ item.description }}
        </span>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-4 col-xs-4">
        <span>
          <span class="label label-success" ng-if="item.orderable === true" translate>Available</span>
        </span>
      </div>
      <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
        <div class="list-view-stacked-item" uib-tooltip="Updated: {{item.updated_at | date : 'short'}}"
             tooltip-append-to-body="true"
             tooltip-popup-delay="1000"
             tooltip-placement="bottom-left">
          <strong translate>Updated</strong>
          <div>
            {{ item.updated_at | date : 'short' }}
          </div>
        </div>
      </div>
    </div>
  </pf-list-view>
</div>
<explorer-pagination limit="vm.limit" count="vm.filterCount" limit-options="vm.limitOptions"
                     on-update="vm.updatePagination($limit, $offset)">
</explorer-pagination>
