<div id="createCatModal" class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">
    <span class="pficon pficon-close"></span>
  </button>
  <h3 class="modal-title" translate>Create Catalog</h3>
</div>
<div class="modal-body">
  <h4 translate>Please enter a name for the new Catalog</h4>
  <input id="catName" type="text" ng-model="vm.modalData.catalogName" autofocus/>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$dismiss()" translate>Cancel</button>
  <button type="button"
          class="btn btn-primary"
          ng-click="vm.saveCatalog()"
          ng-disabled="vm.modalData.catalogName.length == 0"
          translate>
          Save
  </button>
</div>
<script>
  $(function() {
    $('.modal-header').parent().css("width","700px");
    $('#createCatModal').parent().css("top","70px");
  });
</script>