<div class="modal-header">
  <button type="button" class="close" ng-click="vm.close()" aria-hidden="true">
    <span class="pficon pficon-close"></span>
  </button>
  <h4 class="modal-title" translate>Shopping Cart</h4>
</div>

<div class="modal-body">
  <ul class="list-group" ng-if="vm.state.items.length">
    <li ng-repeat="item in vm.state.items" class="list-group-item">
      {{:: item.description}}

      <button type="button"
              class="btn btn-default pull-right"
              ng-disabled="! vm.modalInstance"
              alt="{{ 'Remove' | translate }}"
              confirmation
              confirmation-id="confirmDeleteCartItem"
              confirmation-title="{{'Remove Item'|translate}}"
              confirmation-message="{{'Are you sure you want to remove this item from your shopping cart?'|translate}}"
              confirmation-ok-text="{{'Remove'|translate}}"
              confirmation-on-ok="vm.remove(item)"
              confirmation-ok-style="primary"
              confirmation-show-cancel="true">
        <i class="pficon pficon-delete"></i>
      </button>

      <div ng-if="item.duplicate" class="pull-right text-warning cart-duplicate-icon">
        <i class="fa fa-exclamation-triangle" title="{{'Duplicate'|translate}}"></i>
      </div>
    </li>
  </ul>

  <div ng-if="! vm.state.items.length">
    <div class="alert alert-info">
      <span class="pficon pficon-info"></span>
      <strong translate>
        Shopping cart is empty.
      </strong>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-default"
          ng-click="vm.close()"
          ng-disabled="! vm.modalInstance"
          translate>
    Close
  </button>

  <button type="button"
          class="btn btn-default"
          ng-disabled="! vm.state.items.length"
          translate
          confirmation
          confirmation-id="confirmClearCart"
          confirmation-title="{{'Clear Shopping Cart'|translate}}"
          confirmation-message="{{'Are you sure you want to clear all items from your shopping cart?'|translate}}"
          confirmation-ok-text="{{'Clear'|translate}}"
          confirmation-on-ok="vm.clear()"
          confirmation-ok-style="primary"
          confirmation-show-cancel="true">
    Clear
  </button>

  <button type="button"
          class="btn btn-primary"
          ng-click="vm.submit()"
          ng-disabled="! vm.state.items.length"
          translate>
    Order
  </button>
</div>
