<div class="modal-header">
  <button type="button" class="close" ng-click="vm.close()" aria-hidden="true">
    <span class="pficon pficon-close"></span>
  </button>
  <h4 class="modal-title" translate>Shopping Cart</h4>
</div>

<div class="modal-body">
  <span translate>Items:</span>

  <div ng-if="vm.state.items.length" ng-repeat="item in vm.state.items">
    {{item | json}}
  </div>

  <div ng-if="! vm.state.items.length">
    <div class="alert alert-info">
      <span class="pficon pficon-info"></span>
      <strong translate>
        Shopping cart is empty.
      </strong>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-default"
          ng-click="vm.close()"
          ng-disabled="! vm.modalInstance"
          translate>
    Close
  </button>

  <button type="button"
          class="btn btn-danger"
          ng-click="vm.clear()"
          ng-disabled="! vm.state.items.length"
          translate>
    Clear
  </button>

  <button type="button"
          class="btn btn-primary"
          ng-click="vm.submit()"
          ng-disabled="! vm.state.items.length"
          translate>
    Order
  </button>
</div>
