  <button type="button"
          class="btn btn-default"
          ng-click="vm.cancelAction()"
          translate>Cancel
  </button>
  <button ng-if="vm.resetModal"
          type="button"
          class="btn btn-default"
          ng-click="vm.emitOriginal()"
          ng-disabled="vm.isPristine()"
          translate>Reset
  </button>
  <button ng-if="!vm.confirmationModal"
          type="button"
          class="btn btn-primary"
          ng-click="vm.saveResource()"
          ng-disabled="vm.isPristine()"
          translate>Save
  </button>
  <button ng-if="vm.confirmationModal"
          type="button"
          class="btn btn-primary"
          ng-click="vm.affirmConfirmation()"
          translate>OK
  </button>
