.blueprints-list

  .list-view-pf
    padding-bottom: 68px // Adding so dropdown menus on the last row don't get cut off

    .list-group-item
      padding-bottom: 0
      padding-top: 0
      line-height: 1.66666667

  .dropdown-kebab-pf
    .fa, img
      padding-left: 5px
      padding-right: 10px
      font-size: 18px
      vertical-align: middle

    .dropdown-menu
      margin-top: 4px
      height: auto !important
      overflow: visible !important

      &.dropdown-menu-right
        right: -5px
