<h2>{{ 'Utilization' | translate}}
    <span class="detail">{{vm.titleDetails}}</span>
</h2>
<hr>
<div class="row">
    <div class="col-md-4 text-center">
        <div class="metric-title" translate>CPU</div>
        <div ng-if="vm.cpuDataExists">
            <div class="metric-details-container">
                <span class="metric-number">{{vm.availableCPU | number:3}}</span>
                <span class="metric-details">
                <p>{{vm.cpuChart.config.units}} {{'Available' | translate}}</p>
                <p>{{'of' | translate }} {{vm.cpuChart.data.total}}{{vm.cpuChart.config.units}}</p>
            </span>
            </div>
            <hr>
            <pf-donut-pct-chart config="vm.cpuChart.config" data="vm.cpuChart.data"
                                center-label="vm.cpuChart.label"></pf-donut-pct-chart>
        </div>
        <pf-empty-state ng-if="!vm.cpuDataExists" config="vm.emptyState"></pf-empty-state>
    </div>
    <div class="col-md-4 text-center">
        <div class="metric-title" translate>Memory</div>
        <div ng-if="vm.memoryDataExists">
            <div class="metric-details-container">
                <span class="metric-number">{{vm.availableMemory | number:3}}</span>
                <span class="metric-details">
                    <p>{{vm.memoryChart.config.units}} {{'Available' | translate}}</p>
                    <p>{{'of' | translate }} {{vm.memoryChart.data.total}}{{vm.memoryChart.config.units}}</p>
                </span>
            </div>
            <hr>
            <pf-donut-pct-chart config="vm.memoryChart.config" data="vm.memoryChart.data"
                                center-label="vm.memoryChart.label"></pf-donut-pct-chart>
        </div>
        <pf-empty-state ng-if="!vm.memoryDataExists" config="vm.emptyState"></pf-empty-state>
    </div>
    <div class="col-md-4 text-center">
        <div class="metric-title" translate>Storage</div>
        <div ng-if="vm.storageDataExists">
            <div class="metric-details-container">
                <span class="metric-number">{{vm.availableStorage | number:3}}</span>
                <span class="metric-details">
                    <p>{{vm.storageChart.config.units}} {{'Available' | translate}}</p>
                    <p>{{'of' | translate }} {{vm.storageChart.data.total}}{{vm.storageChart.config.units}}</p>
                </span>
            </div>
            <hr>
            <pf-donut-pct-chart config="vm.storageChart.config" data="vm.storageChart.data"
                                center-label="vm.storageChart.label"></pf-donut-pct-chart>
        </div>
        <pf-empty-state ng-if="!vm.storageDataExists" config="vm.emptyState"></pf-empty-state>
    </div>
</div>
