<h2 translate>Utilization
    <span class="detail">{{vm.titleDetails}}</span>
</h2>
<hr>
<div class="row">
    <div class="col-md-4 text-center" ng-if="vm.cpuDataExists">
        <div>
            <div class="metric-title" translate>CPU</div>
            <div class="metric-details-container">
                <div ng-if="vm.cpuDataExists">
                    <span class="metric-number">{{vm.availableCPU}}</span>
                    <span class="metric-details">
                                <p translate>MHz Available</p>
                                <p><span translate>of</span> {{vm.cpuChart.data.total}} <span translate>MHz</span></p>
                            </span>
                </div>
            </div>
            <hr>
            <div ng-if="!vm.cpuDataExists">
                <div>
                    <i class="pf pficon-info"></i>
                </div>
                <div translate>
                    No data available
                </div>
            </div>
        </div>
        <pf-donut-pct-chart ng-if="vm.cpuDataExists" config="vm.cpuChart.config" data="vm.cpuChart.data"
                            center-label="vm.cpuChart.label"></pf-donut-pct-chart>
    </div>
    <div class="col-md-4 text-center" ng-if="vm.memoryDataExists">
        <div>
            <div class="metric-title" translate>Memory</div>
            <div class="metric-details-container">
                <div ng-if="vm.memoryDataExists">
                    <span class="metric-number">{{vm.availableMemory}}</span>
                    <span class="metric-details">
                        <p translate>GB Available</p>
                        <p><span translate>of</span> {{vm.memoryChart.data.total}} <span translate>GB</span></p>
                    </span>
                </div>
            </div>
            <hr>
            <div ng-if="!vm.memoryDataExists">
                <div>
                    <i class="pf pficon-info"></i>
                </div>
                <div translate>
                    No data available
                </div>
            </div>
        </div>
        <pf-donut-pct-chart ng-if="vm.memoryDataExists" config="vm.memoryChart.config" data="vm.memoryChart.data"
                            center-label="vm.memoryChart.label"></pf-donut-pct-chart>
    </div>
    <div class="col-md-4 text-center" ng-if="vm.storageDataExists">
        <div>
            <div class="metric-title" translate>Storage</div>
            <div class="metric-details-container">
                <div ng-show="vm.storageDataExists">
                    <span class="metric-number">{{vm.availableStorage}}</span>
                    <span class="metric-details">
                            <p translate>GB Available</p>
                            <p><span translate>of</span> {{vm.storageChart.data.total}} <span translate>GB</span></p>
                    </span>
                </div>
            </div>
            <hr>
            <div ng-if="!vm.storageDataExists">
                <div>
                    <i class="pf pficon-info"></i>
                </div>
                <div translate>
                    No data available
                </div>
            </div>
        </div>
        <pf-donut-pct-chart ng-if="vm.storageDataExists" config="vm.storageChart.config" data="vm.storageChart.data"
                            center-label="vm.storageChart.label"></pf-donut-pct-chart>
    </div>
</div>
