<!-- any dynamic element -->
<div pf-form-group pf-label="{{'Entry Point'|translate}}">
  <!-- TODO: until treepicker and API for it are in the SSUI -->
  <input ng-model="vm.modalData.resource_action.ae_namespace"/>
</div>
<div pf-form-group pf-label="{{'Show Refresh Button'|translate}}">
  <input bs-switch
         ng-model="vm.modalData.show_refresh_button"
         type="checkbox"
         switch-on-text="{{'Yes'|translate}}"
         switch-off-text="{{'No'|translate }}"/>
</div>
<div pf-form-group pf-label="{{'Load Values on Init'|translate}}">
  <input bs-switch
         ng-model="vm.modalData.load_values_on_init"
         switch-active="{{vm.modalData.show_refresh_button}}"
         type="checkbox"
         switch-on-text="{{'Yes'|translate}}"
         switch-off-text="{{'No'|translate}}"/>
</div>
<div pf-form-group pf-label="{{'Auto refresh'|translate}}">
  <input bs-switch
         ng-model="vm.modalData.auto_refresh"
         type="checkbox"
         switch-on-text="{{'Yes'|translate}}"
         switch-off-text="{{'No'|translate}}"/>
</div>
<div pf-form-group pf-label="{{'Auto refresh on change'|translate}}">
  <input bs-switch
         ng-model="vm.modalData.trigger_auto_refresh"
         type="checkbox"
         switch-on-text="{{'Yes'|translate}}"
         switch-off-text="{{'No'|translate}}"/>
</div>
