<div class="breadcrumb-bar">
  <span>
      <ol class="breadcrumb">
        <li class="active">{{ 'Requests' | translate }}</li>
      </ol>
  </span>
</div>
<div pf-toolbar class="section-toolbar" id="requestToolbar" config="vm.toolbarConfig">
  <actions>
    <custom-dropdown class="custom-dropdown pull-left"
                     config="item"
                     items="vm.selectedItemsList"
                     items-count="vm.selectedItemsList.length"
                     ng-repeat="item in vm.configuration"
                     on-update="vm.listActionDisable($config, $changes)">
    </custom-dropdown>
  </actions>
</div>
<div class="list-view-container section-container paged-container">
  <loading status="vm.loading"></loading>
  <div pf-list-view ng-if="!vm.loading" id="requestList" config="vm.listConfig" items="vm.listDataCopy">
    <div class="list-view-pf-left">
      <span class="ss-list-view__title-img">
        <span class="ss-list-view__title-img__center"></span>
        <img class="ss-list-view__title-img__logo" ng-src="{{ item.picture.image_href }}" ng-if="item.picture.image_href"/>
        <img class="ss-list-view__title-img__logo" src="images/service.png" ng-if="!item.picture.image_href"/>
      </span>
    </div>
    <div class="list-view-pf-body">
      <div class="list-view-pf-stacked">
        <div class="list-group-item-heading">
          {{ item.description }}
        </div>
        <div class="list-group-item-text">
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
            <span class="no-wrap">
              {{ item.id }}
            </span>
          </div>
          <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
            <span class="no-wrap">
              {{ item.requester_name }}
            </span>
          </div>
          <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
            <span class="no-wrap">
              {{ item.created_on | date }}
            </span>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-8 col-xs-8">
            <span class="no-wrap">
              {{ item.message }}
            </span>
          </div>
          <div class="col-lg-2 col-md-4 hidden-sm hidden-xs">
            <span class="text-capitalize no-wrap">
              <span class="fa fa-clock-o" ng-if="item.approval_state == 'pending_approval'"
                    uib-tooltip="{{'The current approval status of the request'|translate}}"
                    tooltip-placement="bottom"></span>
              <span class="pficon pficon-error-circle-o" ng-if="item.approval_state == 'denied'"
                    uib-tooltip="{{'The current approval status of the request'|translate}}"
                    tooltip-placement="bottom"></span>
              <span class="pficon pficon-ok" ng-if="item.approval_state == 'approved'"
                    uib-tooltip="{{'The current approval status of the request'|translate}}"
                    tooltip-placement="bottom"></span>
              {{ item.approval_state }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<explorer-pagination limit="vm.limit" count="vm.requestCount" limit-options="vm.limitOptions" on-update="vm.paginationUpdate($limit, $offset)">
</explorer-pagination>
