.canvas-container
  width: 99%
  height: 88%
  overflow: auto
  margin-left: 15px
  //border: 3px solid yellow

.canvas
  //border: 2px solid brown
  width: 1396px
  height: 756px
  background-image: url('/client/assets/images/blueprint-designer/canvas-dot-grid.png')
  background-repeat: repeat

.canvas-in-connection-mode
  background-image: url('/client/assets/images/blueprint-designer/canvas-dot-grid-disabled.png')
  background-repeat: repeat