<div class="canvas-container" mouse-capture data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop:'vm.dropCallback'}">
  <flow-chart class="canvas" ng-class="{'read-only': vm.readOnly, 'canvas-in-connection-mode': vm.inConnectingMode}"
              chart="vm.chartViewModel"
              read-only="vm.readOnly"
              ng-style="{'height': vm.chartViewModel.zoom.getChartHeight() + 'px', 'width': vm.chartViewModel.zoom.getChartWidth() + 'px', 'background-size': vm.chartViewModel.zoom.getBackgroundSize() + 'px '+  vm.chartViewModel.zoom.getBackgroundSize() + 'px'}">
  </flow-chart>
</div>

