<div id="{{vm.id}}">
  <div class="modal-header" ng-if="::vm.title">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="myModalLabel"> {{ ::vm.title }}</h4>
  </div>
  <div class="modal-body">
    <p class="confirmation__message">{{ ::vm.message }}</p>
    <div class="confirmation__items-content" ng-if="vm.items && vm.items.length > 0">
      <a class="items-content-title collapsable" ng-if="vm.useCollapse"
         ng-class="{'collapsed': !vm.showItems}" ng-click="vm.toggleShowItems()">
        {{vm.showItems ? 'Hide' : 'Show' | translate}} {{vm.itemsTitle}}
      </a>
      <div ng-class="{'collapse': !vm.showItems && vm.useCollapse}">
        <ul class="items-list">
          <li class="" ng-repeat="item in vm.items track by $index">
            <span>{{item[vm.itemNameField]}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="confirmation__buttons">
      <button ng-if="vm.showCancel" type="button" class="confirmation__button btn btn-default" ng-click="$dismiss()">
        {{ ::vm.cancel }}
      </button>
      <button type="button" class="confirmation__button btn btn-rounded" ng-class="::vm.okClass" ng-click="$close()">
        {{ ::vm.ok }}
      </button>
    </div>
  </div>
</div>
