<div class="layout-application" ng-controller="NavigationController as vm">
  <pf-vertical-navigation items="vm.items" brand-src="{{vm.applianceInfo.brand}}" brand-alt="{{ vm.applianceInfo.nameFull }}"
       update-active-items-on-click="true"
       pinnable-menus="true" item-click-callback="vm.handleItemClick" show-badges="true">
    <pf-toast-notification-list notifications="vm.toastNotifications" show-close="true"
         close-callback="vm.handleDismissToast" update-viewing="vm.updateViewingToast"></pf-toast-notification-list>

    <pf-notification-drawer
            drawer-hidden="!vm.notificationsDrawerShown"
            notification-groups="vm.notificationGroups"
            allow-expand="true"
            on-close="vm.toggleNotificationsList"
            drawer-title="{{'Notifications' | translate}}"
            no-notifications-text="{{'There are no notifications to display.' | translate}}"
            heading-include="{{vm.html.heading}}"
            notification-body-include="{{vm.html.notificationBody}}"
            notification-footer-include="{{vm.html.notificationFooter}}"
            custom-scope="vm" >
    </pf-notification-drawer>

    <pf-about-modal additional-info="vm.about.additionalInfo" is-open="vm.about.isOpen"
         product-info="vm.about.productInfo" title="vm.about.title" copyright="vm.about.copyright"
         img-alt="vm.about.imgAlt" img-src="vm.about.imgSrc" on-close="vm.about.isOpen = false">
    </pf-about-modal>

    <div>
      <ul class="nav navbar-nav navbar-right navbar-iconic">
        <li class="dropdown brand-white-label"></li>
        <li ng-if="vm.shoppingCart.allowed()">
          <a title="{{'Shopping cart' | translate}}" class="nav-item-iconic indicator"
             ng-click="vm.shoppingCart.open()">
            <i class="fa fa-shopping-cart"></i>
            <span class="badge badge-pf-bordered" ng-show="vm.shoppingCart.count" ng-bind="vm.shoppingCart.count"></span>
          </a>
        </li>
        <li class="drawer-pf-trigger">
          <a title="{{vm.notificationsIndicatorTooltip}}" class="nav-item-iconic"
             ng-click="vm.toggleNotificationsList()">
            <span class="fa" ng-class="{'fa-bell': vm.newNotifications, 'fa-bell-o': !vm.newNotifications}"></span>
            <span class="badge badge-pf-bordered" ng-show="vm.newNotifications"> </span>
          </a>
        </li>
        <li>
          <miq-site-switcher sites="vm.sites" ng-if="vm.permissions.suiAppLauncher"></miq-site-switcher>
        </li>
        <li uib-dropdown ng-if="vm.permissions.helpMenu">
          <a class="nav-item-iconic" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
            <span class="fa pficon-help"></span>
            <span class="caret"></span>
          </a>
          <ul uib-dropdown-menu aria-labelledby="aboutModal">
            <li ng-if="vm.permissions.help.documentation">
              <a href="{{vm.documentation}}" target="_blank" rel="noopener noreferrer">
                {{ 'Documentation' | translate}}
              </a>
            </li>
            <li>
              <a href="{{vm.about.supportWebsite}}" target="_blank" rel="noopener noreferrer">
                {{vm.about.supportWebsiteText}}
              </a>
            </li>
            <li ng-if="vm.permissions.help.about">
              <a href="#" ng-click="vm.about.isOpen = true">
                {{'About' | translate}}
              </a>
            </li>
          </ul>
        </li>
        <li uib-dropdown>
          <a uib-dropdown-toggle class="nav-item-iconic" title="{{ ::vm.user().userid }}">
            <i class="fa pficon-user"></i>
            <p class="navbar-user-name">{{ ::vm.user().name }}</p>
            <span class="caret"></span>
          </a>
          <ul uib-dropdown-menu>
            <!-- Group switcher -->
            <li class="dropdown-submenu pull-left" ng-if="vm.user().groups.length > 1">
              <a href="#">
              <span translate>
                Change Group:
              </span>
              </a>
              <ul uib-dropdown-menu class="scrollable-menu">
                <li ng-repeat="group in vm.user().miq_groups" ng-class="{ disabled: group.description === vm.user().group }">
                  <a href="#" ng-if="group.description === vm.user().group" title="{{'Currently Selected Group' | translate}}">
                    {{group.description}}
                    <span translate>
                    (Current Group)
                  </span>
                  </a>
                  <a href="#" ng-if="group.description !== vm.user().group" title="{{'Change to this Group' | translate}}"
                     ng-click="vm.switchGroup(group)">
                    {{group.description}}
                  </a>
                </li>
              </ul>
            </li>
            <li class="disabled" ng-if="! (vm.user().groups.length > 1)">
              <a href="#" title="{{'Current Group' | translate}}">
                {{vm.user().group}}
              </a>
            </li>
            <!-- /Group switcher -->
            <li>
              <language-switcher ng-if="vm.permissions.suiLanguage"></language-switcher>
            </li>
            <li class="action divider"></li>

            <li class="action"><a ui-sref="logout" translate>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </pf-vertical-navigation>
  <div class="container-pf-nav-pf-vertical nav-pf-vertical-with-badges"
       ng-class="{'collapsed-nav': vm.state.isCollapsed, 'hidden-nav': vm.state.isMobileNav }">
    <div class="main-content" ui-view></div>
  </div>
</div>
