<div class="layout-application" ng-controller="NavigationController as vm">
  <pf-vertical-navigation items="vm.items" brand-src="{{vm.applianceInfo.brand}}" brand-alt="{{ vm.applianceInfo.nameFull }}"
       update-active-items-on-click="true"
       pinnable-menus="true" item-click-callback="vm.handleItemClick" show-badges="true">
    <pf-toast-notification-list notifications="vm.toastNotifications" show-close="true"
         close-callback="vm.handleDismissToast" update-viewing="vm.updateViewingToast"></pf-toast-notification-list>

    <div>
      
      
      <div class="notifications-drawer-wrapper {{vm.expandNotification ? 'expanded' : 'collapsed'}}" ng-if="vm.notificationsDrawerShown">
        <div class="notifications-drawer-header">
          <div class="notification-header-arrows" ng-click="vm.toggleExpandNotification()">
            <span class="fa fa-angle-double-right" ng-if="vm.expandNotification"></span>
            <span class="fa fa-angle-double-left" ng-if="!vm.expandNotification"></span>
          </div>
          <div class="notification-header-title" ng-click="vm.toggleExpandNotification()">{{'Notifications' | translate}}</div>
          <div class="notification-close">
            <button uib-dropdown-toggle class="btn btn-link" type="button" ng-click="vm.toggleNotificationsList()">
              <span class="pficon pficon-close"></span>
            </button>
          </div>
        </div>
        <ul class="nav nav-list notifications-list" ng-repeat="group in vm.notificationGroups">
          <li class="notifications-list-item" ng-if="group.unreadCount !== 0">
              <div class="notifications-list-item-title-wrapper {{group.heading}}" ng-click="vm.setActiveNotification(group.heading)">
                <div class="notifications-list-item-arrows">
                  <span class="fa fa-angle-right" ng-if="group.heading != vm.activeNotification"></span>
                  <span class="fa fa-angle-down" ng-if="group.heading == vm.activeNotification"></span>
                </div>
                <div class="notifications-list-item-count">{{group.unreadCount}}</div>
                <div class="notifications-list-item-title">{{group.heading}}</div>
              </div>
              
              <ul class="nav nav-list notifications-list-item-details"
                  ng-repeat="notification in group.notifications"
                  ng-if="vm.activeNotification == group.heading"
                >
                <li class="notifications-list-item-wrapper">
                  
                  <div class="notifications-list-item-row collapsed" ng-if="!vm.expandNotification">
                    <span ng-if="notification.type" class="pull-left {{$ctrl.customScope.getNotficationStatusIconClass(notification)}}" ng-click="$ctrl.customScope.markRead(notification, notificationGroup)"></span>
                    <span class="drawer-pf-notification-message notification-message"
                          ng-click="$ctrl.customScope.markRead(notification, notificationGroup)"
                          tooltip-popup-delay="500" tooltip-placement="bottom" uib-tooltip="{{notification.message | translate}}">
                      {{notification.message | translate}}
                    </span>
                    <div ng-if="!notification.data.inProgress" class="drawer-pf-notification-info" ng-click="$ctrl.customScope.markRead(notification, notificationGroup)">
                      <span class="date">{{notification.timeStamp | date:'MM/dd/yyyy'}}</span>
                      <span class="time">{{notification.timeStamp | date:'h:mm:ss a'}}</span>
                    </div>
                    <div ng-if="notification.data.inProgress" class="mini-progress clearfix">
                      <span class="time">{{notification.timeStamp | date:'h:mm:ss a'}}</span>
                      <div class="mini-progress-area">
                        <div class="progress">
                          <span class="progress-bar progress-bar-info"
                                ng-style="{width: notification.data.percentComplete + '%'}" uib-tooltip="{{notification.data.percentComplete}} + {{'% Complete' | translate}}">
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="notifications-list-item-row expanded" ng-if="vm.expandNotification">
                    <div class="row">
                      <div ng-class="{'col-md-4': vm.notificationGroup.notificationType == 'task'}" class="col-sm-6">
                        <span ng-if="notification.type" class="pull-left {{$ctrl.customScope.getNotficationStatusIconClass(notification)}}" ng-click="$ctrl.customScope.markRead(notification, notificationGroup)"></span>
                        <span class="drawer-pf-notification-message notification-message"
                              ng-click="$ctrl.customScope.markRead(notification, notificationGroup)"
                              tooltip-append-to-body="true" tooltip-popup-delay="500"
                              tooltip-placement="bottom" uib-tooltip="{{notification.message | translate}}">
                              {{notification.message | translate}}
                        </span>
                      </div>
                      <div class="col-md-4 col-sm-3" ng-if="notification.notificationType == 'task'">
                        <div class="drawer-pf-notification-info expanded-info" ng-click="$ctrl.customScope.markRead(notification, notificationGroup)">
                          <span class="info-title" translate>Started: </span>
                          <span class="date">{{notification.data.startTime | date:'MM/dd/yyyy'}}</span>
                          <span class="time">{{notification.data.startTime | date:'h:mm:ss a'}}</span>
                        </div>
                        <div ng-if="notification.inProgress" class="progress">
                          <div class="progress-bar progress-bar-info"
                               ng-style="{width: notification.data.percentComplete + '%'}" uib-tooltip="{{notification.data.percentComplete}} + {{'% Complete' | translate}}">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-3" ng-if="notification.notificationType == 'task'">
                        <div class="drawer-pf-notification-info" ng-click="$ctrl.customScope.markRead(notification, notificationGroup)">
                          <span class="info-title" translate>Completed: </span>
                          <span class="date">{{notification.data.endTime | date:'MM/dd/yyyy'}}</span>
                          <span class="time">{{notification.data.endTime | date:'h:mm:ss a'}}</span>
                        </div>
                      </div>
                      <div class="col-sm-6" ng-if="notification.notificationType == 'event'">
                        <div class="drawer-pf-notification-info" ng-click="$ctrl.customScope.markRead(notification, notificationGroup)">
                          <span class="date">{{notification.timeStamp | date:'MM/dd/yyyy'}}</span>
                          <span class="time">{{notification.timeStamp | date:'h:mm:ss a'}}</span>
                        </div>
                      </div>
                    </div>
                  </div>

                </li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- <pf-notification-drawer
      drawer-hidden="!vm.notificationsDrawerShown"
      notification-groups="vm.notificationGroups"
      allow-expand="true"
      on-close="vm.toggleNotificationsList"
      drawer-title="{{'Notifications1234' | translate}}"
      no-notifications-text="{{'There are no notifications to display.' | translate}}"
      heading-include="{{vm.html.heading}}"
      notification-body-include="{{vm.html.notificationBody}}"
      notification-footer-include="{{vm.html.notificationFooter}}"
      custom-scope="vm" >
    </pf-notification-drawer> -->

    <pf-about-modal additional-info="vm.about.additionalInfo" is-open="vm.about.isOpen"
         product-info="vm.about.productInfo" title="vm.about.title" copyright="vm.about.copyright"
         img-alt="vm.about.imgAlt" img-src="vm.about.imgSrc" on-close="vm.about.isOpen = false">
    </pf-about-modal>

    <div>
      <ul class="nav navbar-nav navbar-right navbar-iconic">
        <li class="dropdown brand-white-label"></li>
        <li ng-if="vm.shoppingCart.allowed()">
          <a title="{{'Shopping cart' | translate}}" class="nav-item-iconic indicator"
             ng-click="vm.shoppingCart.open()">
            <i class="fa fa-shopping-cart"></i>
            <span class="badge badge-pf-bordered" ng-show="vm.shoppingCart.count" ng-bind="vm.shoppingCart.count"></span>
          </a>
        </li>
        <li class="drawer-pf-trigger">
          <a title="{{vm.notificationsIndicatorTooltip}}" class="nav-item-iconic"
             ng-click="vm.toggleNotificationsList()">
            <span class="fa" ng-class="{'fa-bell': vm.newNotifications, 'fa-bell-o': !vm.newNotifications}"></span>
            <span class="badge badge-pf-bordered" ng-show="vm.newNotifications"> </span>
          </a>
        </li>
        <li>
          <miq-site-switcher sites="vm.sites" ng-if="vm.permissions.suiAppLauncher"></miq-site-switcher>
        </li>
        <li uib-dropdown ng-if="vm.permissions.helpMenu">
          <a class="nav-item-iconic" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
            <span class="fa pficon-help"></span>
            <span class="caret"></span>
          </a>
          <ul uib-dropdown-menu aria-labelledby="aboutModal">
            <li ng-if="vm.permissions.help.documentation">
              <a href="{{vm.documentation}}" target="_blank">
                {{ 'Documentation' | translate}}
              </a>
            </li>
            <li>
              <a href="{{vm.about.supportWebsite}}" target="_new">
                {{vm.about.supportWebsiteText}}
              </a>
            </li>
            <li ng-if="vm.permissions.help.about">
              <a href="#" ng-click="vm.about.isOpen = true">
                {{'About' | translate}}
              </a>
            </li>
          </ul>
        </li>
        <li uib-dropdown>
          <a uib-dropdown-toggle class="nav-item-iconic" title="{{ ::vm.user().userid }}">
            <i class="fa pficon-user"></i>
            <p class="navbar-user-name">{{ ::vm.user().name }}</p>
            <span class="caret"></span>
          </a>
          <ul uib-dropdown-menu>
            <!-- Group switcher -->
            <li class="dropdown-submenu pull-left" ng-if="vm.user().groups.length > 1">
              <a href="#">
              <span translate>
                Change Group:
              </span>
              </a>
              <ul uib-dropdown-menu class="scrollable-menu">
                <li ng-repeat="group in vm.user().miq_groups" ng-class="{ disabled: group.description === vm.user().group }">
                  <a href="#" ng-if="group.description === vm.user().group" title="{{'Currently Selected Group' | translate}}">
                    {{group.description}}
                    <span translate>
                    (Current Group)
                  </span>
                  </a>
                  <a href="#" ng-if="group.description !== vm.user().group" title="{{'Change to this Group' | translate}}"
                     ng-click="vm.switchGroup(group)">
                    {{group.description}}
                  </a>
                </li>
              </ul>
            </li>
            <li class="disabled" ng-if="! (vm.user().groups.length > 1)">
              <a href="#" title="{{'Current Group' | translate}}">
                {{vm.user().group}}
              </a>
            </li>
            <!-- /Group switcher -->
            <li>
              <language-switcher ng-if="vm.permissions.suiLanguage"></language-switcher>
            </li>
            <li class="action divider"></li>

            <li class="action"><a ui-sref="logout" translate>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </pf-vertical-navigation>
  <div class="container-pf-nav-pf-vertical nav-pf-vertical-with-badges"
       ng-class="{'collapsed-nav': vm.state.isCollapsed, 'hidden-nav': vm.state.isMobileNav }">
    <div class="main-content" ui-view></div>
  </div>
</div>

