<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">
    <span class="pficon pficon-close"></span>
  </button>
  <h4 class="modal-title" id="myModalLabel" translate>Edit Dialog field</h4>
</div>

<div class="modal-body">
  <ul class="nav nav-tabs">
    <li ng-class="{active:vm.modalTabIsSet('element_information')}">
      <a ng-click="vm.modalTabSet('element_information')" translate>Element Information</a>
    </li>
    <li ng-if="vm.element === 'field'" ng-class="{active:vm.modalTabIsSet('options')}">
      <a ng-click="vm.modalTabSet('options')" translate>Options</a>
    </li>
    <li ng-if="vm.element === 'field'" ng-class="{active:vm.modalTabIsSet('advanced')}">
      <a ng-click="vm.modalTabSet('advanced')" translate>Advanced</a>
    </li>
  </ul>
  <!-- general details same for each component - element information -->
  <div ng-show="vm.modalTabIsSet('element_information')">
    <form class="form-horizontal">
      <div pf-form-group pf-label="{{'Label'|translate}}" required>
        <input id="label" name="label"
               ng-model="vm.modalData.label" type="text" required/>
      </div>
      <div ng-if="vm.element === 'field'"
           pf-form-group
           pf-label="{{'Name'|translate}}" required>
        <input id="name" name="name"
               ng-model="vm.modalData.name" type="text" required/>
      </div>
      <div pf-form-group pf-input-class="col-sm-9" pf-label="{{'Description'|translate}}">
        <textarea id="description" name="description" ng-model="vm.modalData.description">
          {{ vm.modalData.description }}
        </textarea>
      </div>
      <div ng-if="vm.element === 'field' && vm.modalData.type !== 'DialogFieldTagControl'"
           pf-form-group
           pf-label="{{'Dynamic'|translate}}">
        <input bs-switch
               ng-model="vm.modalData.dynamic"
               type="checkbox"
               switch-on-text="{{'Yes'|translate}}"
               switch-off-text="{{'No'|translate}}"/>
      </div>
    </form>
  </div>
  <!-- field specific details -->
  <div ng-show="vm.modalTabIsSet('options')">
    <form class="form-horizontal">
      <div ng-if="!vm.modalData.dynamic" ng-switch on="vm.modalData.type">
        <dialog-editor-modal-field-template ng-switch-when="DialogFieldTextBox"
                               template="text-box.html">
        </dialog-editor-modal-field-template>
        <dialog-editor-modal-field-template ng-switch-when="DialogFieldTextAreaBox"
                               template="text-area-box.html">
        </dialog-editor-modal-field-template>
        <dialog-editor-modal-field-template ng-switch-when="DialogFieldCheckBox"
                               template="check-box.html">
        </dialog-editor-modal-field-template>
        <dialog-editor-modal-field-template ng-switch-when="DialogFieldDateControl"
                               template="date-time-control.html">
        </dialog-editor-modal-field-template>
        <dialog-editor-modal-field-template ng-switch-when="DialogFieldDateTimeControl"
                               template="date-time-control.html">
        </dialog-editor-modal-field-template>
        <dialog-editor-modal-field-template ng-switch-when="DialogFieldRadioButton"
                               template="radio-button-drop-down-list.html">
        </dialog-editor-modal-field-template>
        <dialog-editor-modal-field-template ng-switch-when="DialogFieldDropDownList"
                               template="radio-button-drop-down-list.html">
        </dialog-editor-modal-field-template>
        <dialog-editor-modal-field-template ng-switch-when="DialogFieldTagControl"
                               template="tag-control.html">
        </dialog-editor-modal-field-template>
      </div>
      <div ng-if="vm.modalData.dynamic">
        <dialog-editor-modal-field-template template="dynamic.html">
        </dialog-editor-modal-field-template>
      </div>
    </form>
  </div>
  <!-- general details same for each field - advanced -->
  <div ng-show="vm.modalTabIsSet('advanced')">
    <form class="form-horizontal">
      <div pf-form-group pf-label="{{'Reconfigurable'|translate}}">
        <input bs-switch
               ng-model="vm.modalData.reconfigurable"
               type="checkbox"
               switch-on-text="{{'Yes'|translate}}"
               switch-off-text="{{'No'|translate}}" >
      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-danger"
          type="button"
          ng-click="vm.deleteField()" translate>Delete</button>
  <button type="button" class="btn btn-default" ng-click="$dismiss()" translate>Cancel</button>
  <button type="button"
          class="btn btn-primary"
          ng-click="vm.saveDialogFieldDetails()"
          ng-disabled="vm.modalUnchanged()" translate>Save
  </button>
</div>
