@import 'app_colors'

.login-pf
  background-color: #101010
  background-image: none
  height: calc(100vh)
  margin-top: -60px !important //hack to deal with missing login-pf class in html tag

  .container
    padding-top: 0

    .alert-danger
      background-color: $app-color-light-red
      border-color: $app-color-dark-red
      color: $app-color-dark-gray-2


  .logo
    max-height: 200px
    max-width: 200px
