@import 'app_colors'

.login-pf
  background-color: $app-color-deep-blue
  background-image: none
  height: calc(100vh)
  margin-bottom: -38px
  margin-top: -60px

  // override .login-pf #brand img to match ui-classic brand.scss
  #brand // sass-lint:disable-line no-ids
    img
      height: 38px !important // sass-lint:disable-line no-important

  .container
    padding-top: 0

    .alert-danger
      background-color: $app-color-light-red
      border-color: $app-color-dark-red
      color: $app-color-dark-gray-2

    h1
      margin: 0

  .img-top
    left: 0
    top: 0

  .img-bottom
    bottom: 0
    position: fixed
    right: 0

  .logo
    max-height: 200px
    max-width: 200px

  .spinner-wrap
    height: 16px
    position: absolute
    right: 40px
    z-index: 1000
