#advOpsHref
  text-decoration: none
  font-size: 18px

  &:before
    font-family: 'FontAwesome'
    content: "\f107"
    padding-right: 10px
    color: grey

  &.collapsed:before
    content: "\f105"

  &.disabled
    color: grey
    pointer-events: none
    font-size: 18px

.clear-entry-point
  float: right
  position: absolute
  top: 8px
  right: 102px
  color: black
  cursor: pointer

.entry-point-input
  display: inline
  width: 80%

.entry-point-btn
  margin-bottom: 5px
  margin-left: 5px
  margin-right: 5px