#advOpsHref
  text-decoration: none
  font-size: 18px

  &:before
    font-family: 'FontAwesome'
    content: "\f107"
    padding-right: 10px
    color: grey

  &.collapsed:before
    content: "\f105"

  &.disabled
    color: grey
    pointer-events: none
    font-size: 18px

.clear-entry-point
  float: right
  position: absolute
  top: 8px
  right: 137px
  color: black
  cursor: pointer

.entry-point-input
  display: inline
  width: 75%
  padding-right: 24px


.entry-point-btn
  margin-bottom: 5px
  margin-left: 5px
  margin-right: 5px

#detailsForm
  .bootstrap-select.form-control:not([class*="col-"])
    width: 95%
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
    width: 95%
  input
    width: 103%

.base-info-select
  width: 103%
  padding-right: 25px
  padding-top: 3px
  padding-left: 3px
  padding-bottom: 3px
  vertical-align: middle
  background-color: white

  .btn.disabled, .btn[disabled], fieldset[disabled] .btn
    background-color: #f8f8f8 !important
    background-image: none !important
    border-color: #d1d1d1 !important
    color: #969696 !important
    opacity: 1


.base-info-btn
  position: absolute
  top: 0px
  left: 352px