.node-header
  font-size: 12px

.invalid-node-header
  fill: #bababa

.node-rect
  stroke: #b1b1b1
  stroke-width: 2
  fill: white

.invalid-node-rect
  fill: #cdcdcd

.invalid-node-img
  opacity: .2

.node-toolbar
  fill: #fff5c3
  stroke: #b1b1b1
  stroke-width: 2

.node-toolbar-icons
  fill: #0099d3
  font-size: 16px
  cursor: pointer
  &:hover
    fill: #00384d

.svg-triangle polyline
  fill: #fff5c3
  stroke: #b1b1b1
  stroke-width: 2

.connecting-mode-rec
  fill: #8a8a8a

.connecting-mode-label
  fill: white
  font-size: 16px

.connecting-mode-label-warning
  fill: red
  font-size: 16px

.connector-icons
  fill: #0099d3
  font-size: 16px
  cursor: pointer
  &:hover
    fill: #00384d

.mouseover-node-rect
  stroke: #b1b1b1
  stroke-width: 3

.selected-node-rect
  stroke: #0099d3
  stroke-width: 3

.connector-tooltip
  fill: #F1F1F1
  stroke: black
  stroke-width: 1

.connector-tooltip-text
  font-size: 10px

.connector-circle
  fill: white
  stroke: black
  stroke-width: 2

.mouseover-connector-circle
  fill: white
  stroke: black
  stroke-width: 3

.unconnected-circle
  fill: green
  stroke: black
  stroke-width: 2
  stroke-opacity: "0.8"

.mouseover-unconnected-circle
  fill: green
  stroke: black
  stroke-width: 3
  stroke-opacity: "0.8"

.connection

.connection-line 
  stroke: gray
  stroke-width: 4
  fill: transparent

.mouseover-connection-line 
  stroke: gray
  stroke-width: 6
  fill: transparent

.selected-connection-line 
  stroke: red
  stroke-width: 4
  fill: transparent

.connection-endpoint 
  fill: gray

.selected-connection-endpoint 
  fill: red

.mouseover-connection-endpoint 
  fill: gray

.connection-name
  fill: black

.selected-connection-name
  fill: red

.mouseover-connection-name
  fill: black

.dragging-connection
  pointer-events: none

.dragging-connection-line 
  stroke: gray
  stroke-width: 3
  fill: transparent

.dragging-connection-endpoint 
  fill: gray

.draggable-container 
  border: solid 1px #d1d1d1

.drag-selection-rect 
  stroke: blue
  stroke-width: 2
  fill: transparent
