<svg
  class="draggable-container"
  xmlns="http://www.w3.org/2000/svg"
  ng-mousedown="mouseDown($event)"
  ng-mousemove="mouseMove($event)"  
  >

  <!-- Connection Mode Notification -->
  <g ng-if="inConnectingMode">
    <rect class="connecting-mode-rec" ry="1" rx="1" x="0" y="0" width="640" height="32" />
    <text class="connecting-mode-label" x="12" y="22" ng-if="availableConnections()">
      Select a second item to complete the connection or click on the canvas to cancel
    </text>
    <text class="connecting-mode-label-warning" x="12" y="22" ng-if="!availableConnections()">
      No available connections! Click on the canvas to cancel
    </text>
  </g>

  <!-- Main Node Loop -->
  <g
    ng-repeat="node in chart.nodes"
    ng-mousedown="nodeMouseDown($event, node)"
    ng-mouseover="nodeMouseOver($event, node)"
    ng-mouseleave="nodeMouseLeave($event, node)"
    ng-attr-transform="translate({{node.x()}}, {{node.y()}})"
    >

    <!-- Node -->
    <rect
      ng-class="{'invalid-node-rect': node.invalid(), 'selected-node-rect': node.selected(), 'mouseover-node-rect': node == mouseOverNode, 'node-rect': node != mouseOverNode}"
      ry="0"
      rx="0"
      x="0" 
      y="0" 
      ng-attr-width="{{node.width()}}" 
      ng-attr-height="{{node.height()}}"
      fill="{{node.backgroundColor()}}"
      fill-opacity="1.0"
      />

    <!-- Bottom Node Toolbar -->
    <g id="nodeToolBar" ng-if="node == mouseOverNode && !inConnectingMode">
      <rect   class="node-toolbar"
              ry="6"
              rx="6"
              x="0"
              ng-attr-y="{{node.height()+1}}"
              ng-attr-width="{{node.width()}}"
              height="30"
              fill="{{node.backgroundColor()}}"
              fill-opacity="1.0"
      />

      <g class="svg-triangle" >
        <polyline points="4,152 14,140 24,152"/>
      </g>

      <g ng-repeat="nodeAction in chart.nodeActions">
        <text ng-if="nodeAction.fontFamily()"
              class="node-toolbar-icons"
              font-family="{{nodeAction.fontFamily()}}"
              ng-click="nodeActionClick($event, node, nodeAction)"
              ng-attr-x="{{10 + ($index * 24)}}"
              ng-attr-y="{{node.height()+22}}">
          {{nodeAction.fontContent()}}
        </text>
      </g>
    </g>

    <!-- Node Title -->

    <text
      class="node-header"
      ng-class="{'invalid-node-header': node.invalid()}"
      ng-attr-x="{{node.width()/2}}"
      ng-attr-y="{{node.height() - 24}}"
      text-anchor="middle"
      alignment-baseline="middle"
      >
      {{node.name()}}
    </text>

    <!-- Node Image -->
    <image ng-if="node.image()"
           ng-class="{'invalid-node-img': node.invalid()}"
           xlink:href="{{node.image() | trustAsResourceUrl}}"
           ng-attr-x="{{(node.width()/2) - 40}}"
           ng-attr-y="{{20}}"
           height="80px"
           width="80px"/>

    <!-- Node Icon -->
    <text ng-if="node.fontFamily() && !node.image()"
          class="node-center-icon"
          ng-class="{'invalid-node-header': node.invalid()}"
          font-family="{{node.fontFamily()}}"
          ng-attr-x="{{(node.width()/2) - 40 + ((node.bundle()) ? 11 : 0) }}"
          ng-attr-y="{{90}}">
      {{node.fontContent()}}
    </text>

    <!-- Sm. Top Left Bundle Icon -->
    <g><text ng-if="node.bundle()"
             x="6"
             y="22"
             font-family="FontAwesome"
             font-size="20">
         {{'\uf06b'}}
       </text>
    </g>

    <!-- Connected Input Connectors -->

    <g ng-if="!hideConnectors"
      ng-repeat="connector in node.inputConnectors | filter: isConnectorConnected"
      ng-mousedown="connectorMouseDown($event, node, connector, $index, true)"
      ng-mouseover="connectorMouseOver($event, node, connector, $index, true)"
      ng-mouseleave="connectorMouseLeave($event, node, connector, $index, true)"
      class="connector input-connector"
      >

      <circle ng-if="!inConnectingMode || isConnectedTo(connector, connectingModeSourceNode)"
        ng-class="{'mouseover-connector-circle': connector == mouseOverConnector,
                   'connector-circle': connector != mouseOverConnector}"
        ng-attr-r="{{connectorSize}}" 
        ng-attr-cx="{{connector.x()}}"
        ng-attr-cy="{{connector.y()}}"
        />
    </g>

    <!-- Unconnected Input Connectors -->

    <g ng-if="inConnectingMode"
       ng-repeat="connector in node.inputConnectors | filter: isConnectorUnconnectedAndValid"
       ng-mousedown="connectorMouseDown($event, node, connector, $index, true)"
       ng-mouseover="connectorMouseOver($event, node, connector, $index, true)"
       ng-mouseleave="connectorMouseLeave($event, node, connector, $index, true)"
       class="connector input-connector"
    >

      <text ng-if="connector.fontFamily()"
            class="connector-icons"
            font-family="{{connector.fontFamily()}}"
            ng-attr-x="{{connector.x() - 28}}"
            ng-attr-y="{{connector.y() + 7}}">
        {{connector.fontContent()}}
      </text>

      <circle
              ng-class="{'unconnected-circle': connector != mouseOverConnector,
                         'mouseover-unconnected-circle': connector == mouseOverConnector}"
              ng-attr-r="{{connectorSize}}"
              ng-attr-cx="{{connector.x()}}"
              ng-attr-cy="{{connector.y()}}"
      />

      <g ng-if="connector == mouseOverConnector">
        <rect class="connector-tooltip"
              ry="1"
              rx="1"
              ng-attr-x="{{connector.x() - 4}}"
              ng-attr-y="{{connector.y() + 12}}"
              ng-attr-width="{{80}}"
              height="20"
        />
        <text
              class="connector-tooltip-text"
              ng-attr-x="{{connector.x() + 2}}"
              ng-attr-y="{{connector.y() + 26}}"
              text-anchor="start"
              alignment-baseline="top"
        >{{connector.name()}}</text>
      </g>
    </g>

    <!-- Output Connectors -->

    <g ng-if="!hideConnectors"
      ng-repeat="connector in node.outputConnectors"
      ng-mousedown="connectorMouseDown($event, node, connector, $index, false)"
      ng-mouseover="connectorMouseOver($event, node, connector, $index, false)"
      ng-mouseleave="connectorMouseLeave($event, node, connector, $index, false)"
      class="connector output-connector"
      >
      <circle ng-if="!inConnectingMode || (connectingModeSourceNode === connector.parentNode())"
        ng-class="{'connector-circle': connector != mouseOverConnector,
                   'mouseover-connector-circle': connector == mouseOverConnector}"
        ng-attr-r="{{connectorSize}}"
        ng-attr-r="{{connectorSize}}" 
        ng-attr-cx="{{connector.x()}}"
        ng-attr-cy="{{connector.y()}}"
        />
    </g>
  </g> <!--  End Nodes Loop -->

  <!-- Connections -->

  <g ng-if="!hideConnectors"
    ng-repeat="connection in chart.connections"
    class="connection"
    ng-mousedown="connectionMouseDown($event, connection)"
    ng-mouseover="connectionMouseOver($event, connection)"
    ng-mouseleave="connectionMouseLeave($event, connection)"
    >
      <g ng-if="!inConnectingMode || connectingModeSourceNode === connection.source.parentNode()">
        <path
          ng-class="{'selected-connection-line': connection.selected(),
                     'mouseover-connection-line': connection == mouseOverConnection,
                     'connection-line': connection != mouseOverConnection}"
          ng-attr-d="M {{connection.sourceCoordX()}}, {{connection.sourceCoordY()}}
                     C {{connection.sourceTangentX()}}, {{connection.sourceTangentY()}}
                       {{connection.destTangentX()}}, {{connection.destTangentY()}}
                       {{connection.destCoordX()}}, {{connection.destCoordY()}}"
          >
        </path>

        <text ng-if="connection == mouseOverConnection"
          ng-class="{'selected-connection-name': connection.selected(),
                     'mouseover-connection-name': connection == mouseOverConnection && !connection.selected(),
                     'connection-name': connection != mouseOverConnection && !connection.selected()}"
          ng-attr-x="{{connection.middleX()}}"
          ng-attr-y="{{connection.middleY()}}"
          text-anchor="middle"
          alignment-baseline="middle"
          >{{connection.name()}}
        </text>

        <circle
            ng-class="{'selected-connection-endpoint': connection.selected(),
                       'mouseover-connection-endpoint': connection == mouseOverConnection && !connection.selected(),
                       'connection-endpoint': connection != mouseOverConnection && !connection.selected()}"
            r="5"
            ng-attr-cx="{{connection.sourceCoordX()}}"
            ng-attr-cy="{{connection.sourceCoordY()}}"
            >
        </circle>

        <circle
            ng-class="{'selected-connection-endpoint': connection.selected(),
                       'mouseover-connection-endpoint': connection == mouseOverConnection && !connection.selected(),
                       'connection-endpoint': connection != mouseOverConnection && !connection.selected()}"
            r="5"
            ng-attr-cx="{{connection.destCoordX()}}"
            ng-attr-cy="{{connection.destCoordY()}}"
            >
        </circle>
      </g>
  </g>

  <!--g
    ng-if="draggingConnection"
    >
    <path
      class="dragging-connection dragging-connection-line"
      ng-attr-d="M {{dragPoint1.x}}, {{dragPoint1.y}}
                 C {{dragTangent1.x}}, {{dragTangent1.y}}
                   {{dragTangent2.x}}, {{dragTangent2.y}}
                   {{dragPoint2.x}}, {{dragPoint2.y}}"
      >
    </path>

    <circle
        class="dragging-connection dragging-connection-endpoint"
        r="connectorSize - 2"
        ng-attr-cx="{{dragPoint1.x}}" 
        ng-attr-cy="{{dragPoint1.y}}" 
        >
    </circle>

    <circle
        class="dragging-connection dragging-connection-endpoint"
        r="connectorSize - 2"
        ng-attr-cx="{{dragPoint2.x}}" 
        ng-attr-cy="{{dragPoint2.y}}" 
        >
    </circle>
  </g -->

  <rect
      ng-if="dragSelecting"
      class="drag-selection-rect"
      ng-attr-x="{{dragSelectionRect.x}}"
      ng-attr-y="{{dragSelectionRect.y}}"
      ng-attr-width="{{dragSelectionRect.width}}"
      ng-attr-height="{{dragSelectionRect.height}}"
    >
  </rect>
</svg>