<div class="node-toolbar" ng-style="{width: vm.node.width()}">
  <span ng-repeat="nodeAction in vm.nodeActions"
        class="{{nodeAction.iconClass()}} node-toolbar-icons"
        ng-click="actionIconClicked(nodeAction.action())">
  </span>
  <div ng-if="vm.selectedAction === 'nodeActionTag'" class="nodetoolbar-dialog tag-dialog">
    <div class="arrow_box">
      <button type="button" class="close" ng-click="close()" aria-hidden="true">
        <span class="pficon pficon-close node-dialog-close"></span>
      </button>
      <div class="node-tag-title">{{vm.node.name()}} {{"Tags" | translate}}</div>
      <tagging-widget tags-of-item="vm.tagsOfItem""/>
    </div>
  </div>
  <div ng-if="vm.selectedAction === 'nodeActionEdit'" class="nodetoolbar-dialog edit-dialog">
    <div class="arrow_box">
      <button type="button" class="close" ng-click="close()" aria-hidden="true">
        <span class="pficon pficon-close node-dialog-close"></span>
      </button>
      Edit Properties
    </div>
  </div>
</div>
