<div ng-switch on="vm.fieldData.type" class="form-group">
  <label class="control-label col-sm-2">{{ vm.fieldData.label }}</label>
  <div class="col-sm-5">

    <!-- text box -->
    <input ng-switch-when="DialogFieldTextBox"
           ng-model="vm.fieldData.default_value"
           class="form-control"
           type="{{ vm.fieldData.options.protected ? 'password' : 'text' }}"
           placeholder="{{'Default value'|translate}}">

    <!-- text area -->
    <textarea ng-switch-when="DialogFieldTextAreaBox"
              ng-model="vm.fieldData.default_value"
              class="form-control"
              rows="4">
      {{ vm.fieldData.default_value }}
    </textarea>

    <!-- check box -->
    <input ng-switch-when="DialogFieldCheckBox"
           ng-model="vm.fieldData.default_value"
           ng-true-value="'t'"
           class="form-control"
           type="checkbox">

    <!-- date control -->
    <input ng-switch-when="DialogFieldDateControl"
           pf-datepicker options="vm.fieldData.options"
           ng-disabled="true"
           date="vm.fieldData.default_value">

    <!-- date time control -->
    <div ng-switch-when="DialogFieldDateTimeControl">
      <div class="col-sm-6 dateTimePadding">
        <input ng-model="vm.fieldData.default_value"
               pf-datepicker options="vm.fieldData.dateOptions"
               date="vm.fieldData.default_value">
      </div>
      <div class="col-sm-6">
        <timepicker ng-model="vm.fieldData.default_value"></timepicker>
      </div>
    </div>

    <!-- drop down list -->
    <select ng-switch-when="DialogFieldDropDownList"
            ng-model="vm.fieldData.default_value"
            class="form-control">
      <option ng-repeat="option in vm.fieldData.values"
              value="{{ option[0] }}">
        {{ option[1] }}
      </option>
    </select>

    <!-- radio button -->
    <span ng-switch-when="DialogFieldRadioButton"
          class="btn-group">
      <label ng-repeat="option in vm.fieldData.values"
             class="btn btn-primary">
        <input type="radio"
               ng-model="vm.fieldData.default_value"
               name="vm.fieldData.name"
               value="option[0]">
        {{ option[1] }}
      </label>
    </span>

    <!-- tag control -->
    <select ng-switch-when="DialogFieldTagControl"
            class="form-control">
      <option ng-repeat="option in vm.fieldData.values"
              value="{{ option[0] }}">
        {{ option[1] }}
      </option>
    </select>

  </div>
  <div class="col-sm-5">
    <button type="button" class="close"
            ng-click="vm.editDialogModal(
              vm.service.activeTab,
              vm.boxPosition,
              vm.fieldData.position
            )">
      <span aria-hidden="true">
        <i class="pficon-edit"></i>
      </span>
    </button>
  </div>
</div>
