<div class="breadcrumb-bar">
  <span>
      <ol class="breadcrumb">
        <li class="active">{{ 'Requests' | translate }}</li>
      </ol>
  </span>
</div>
<div pf-toolbar class="section-toolbar section-toolbar-right-actions" id="requestToolbar" config="vm.toolbarConfig">
  <actions>
    <custom-dropdown class="custom-dropdown pull-left"
                     config="item"
                     items="vm.selectedItemsList"
                     items-count="vm.selectedItemsList.length"
                     ng-repeat="item in vm.configuration"
                     on-update="vm.listActionDisable($config, $changes)"
                     menu-right="true">
    </custom-dropdown>
  </actions>
</div>
<div class="list-view-container section-container paged-container explorer-list">
  <loading status="vm.loading"></loading>
  <div pf-list-view ng-if="!vm.loading" id="requestList" config="vm.listConfig" items="vm.listDataCopy">
    <div class="row">
      <div class="col-lg-4 col-md-5 col-sm-8 col-xs-8">
        <span class="no-wrap">
          <span class="ss-list-view__title-img">
            <span class="ss-list-view__title-img__center"></span>
            <img class="ss-list-view__title-img__logo" ng-src="{{ item.picture.image_href }}"
                 ng-if="item.picture.image_href"/>
            <img class="ss-list-view__title-img__logo" src="images/service.png" ng-if="!item.picture.image_href"/>
          </span>
          {{ item.description }}
        </span>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-4 col-xs-4">
        <div class="list-view-stacked-item no-wrap"
             uib-tooltip="The last message emitted by the request processing state machine"
             tooltip-append-to-body="true"
             tooltip-popup-delay="1000"
             tooltip-placement="bottom-left">
          <strong translate>Last Message</strong>&nbsp;
          <div>
            {{ item.message }}
          </div>
        </div>
      </div>
      <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
        <div class="list-view-stacked-item"
             uib-tooltip="Requester: {{item.requester_name}}"
             tooltip-append-to-body="true"
             tooltip-popup-delay="1000"
             tooltip-placement="bottom-left">
          <strong translate>Requester</strong>&nbsp;
          <div>
            {{ item.requester_name }}
          </div>
        </div>
      </div>
      <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
        <div class="list-view-stacked-item"
             uib-tooltip="Requested: {{item.created_on | date : 'short'}}"
             tooltip-append-to-body="true"
             tooltip-popup-delay="1000"
             tooltip-placement="bottom-left">
          <strong translate>Requested</strong>&nbsp;
          <div>
            {{ item.created_on | date : 'short' }}
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 hidden-sm hidden-xs">
        <span class="text-capitalize no-wrap">
          <span class="fa fa-clock-o" ng-if="item.approval_state == 'pending_approval'"
                uib-tooltip="{{'The current approval status of the request'|translate}}"
                tooltip-placement="bottom"></span>
          <span class="pficon pficon-error-circle-o" ng-if="item.approval_state == 'denied'"
                uib-tooltip="{{'The current approval status of the request'|translate}}"
                tooltip-placement="bottom"></span>
          <span class="pficon pficon-ok" ng-if="item.approval_state == 'approved'"
                uib-tooltip="{{'The current approval status of the request'|translate}}"
                tooltip-placement="bottom"></span>
        </span>
      </div>
    </div>
  </div>
</div>
<explorer-pagination limit="vm.limit" count="vm.requestCount" limit-options="vm.limitOptions"
                     on-update="vm.paginationUpdate($limit, $offset)">
</explorer-pagination>
