.designer-rules-toolbar
  border-bottom: 1px solid #d0d0d0
  border-top: 1px solid #d0d0d0

.designer-rules-list

  .list-view-pf .list-group-item
    cursor: default

  .rule-item-heading
    display: inline-block
    font-size: 16px
    font-weight: 500
    padding-right: 15px
    position: relative
    top: 2px

  .rule-item-field
    padding: 0 5px

  .rule-item-key
    text-align: right

  .rule-item-operation
    text-decoration: underline

  .rule-item-value
    text-align: left

  .rule-item-profile
    padding-left: 0

  .btn-link .pficon, .btn-link .fa
    color: #0088ce
    width: inherit

    &:hover
      color: #00659c
