<ui-view>
  <span>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="designer"> <span class="fa fa-angle-double-left"/>&nbsp;{{'Designer'|translate}}</a>
      </li>
      <li class="active"><strong>{{'Rules' | translate}}</strong>
      </li>
    </ol>

    <pf-notification-list></pf-notification-list>
  </span>
  <div pf-toolbar class="designer-rules-toolbar" id="designerRulesToolbar" config="vm.toolbarConfig">
    <actions>
      <button class="btn btn-primary" type="button" ng-click="vm.addRule()" title="{{'Create a new rule' | translate}}">
        <span class="fa fa-plus"></span>
        {{'Create' | translate}}
      </button>
    </actions>
  </div>
  <div class="list-view-container">
    <ul class="designer-rules-list list-view-pf">
      <li class="list-group-item" ng-repeat="item in vm.designerRules track by $index">
        <div class="content-container">
          <div class="row">
            <div class="col-md-1 col-sm-12">
              <span>{{item.priority}}</span>
            </div>
            <div class="col-md-6 col-sm-12">
            <span class="rule-item-heading">
              {{'IF' | translate}}
            </span>
              <div ng-if="item.editMode" class="rule-edit-container operations">
                <select pf-select="{ noneSelectedText: 'None' }" class="operation-select"
                        ng-model="item.field" ng-options="o as o for o in vm.fields">
                  <option value="">{{'Select a field' | translate}}</option>
                </select>
                <select pf-select class="operation-select" ng-model="item.operator.name">
                  <option value="">{{"Select an operator"  | translate}}</option>
                  <option ng-repeat="operatorName in vm.operatorNames">{{operatorName | translate}}</option>
                </select>
                <input ng-model="item.value" class="rule-edit-value" type="text"
                       placeholder="{{'Enter a value' | translate}}"/>
              </div>
              <div ng-if="!item.editMode" class="rule-view-container">
              <span class="rule-item-field">
                {{item.field ? item.field : "Select a field"  | translate}}
              </span>
              <span class="rule-item-field rule-item-operation">
                {{item.operator && item.operator.name ? item.operator.name : "Select an operator"  | translate}}
              </span>
              <span class="rule-item-field">
                {{item.value ? item.value : "Enter a value" | translate}}
              </span>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
            <span class="rule-item-heading">
              {{'USE' | translate}}
            </span>
              <div ng-if="item.editMode" class="rule-edit-container">
                <select pf-select class="profile-select" ng-model="item.profileName">
                  <option value="">{{"Select a profile"  | translate}}</option>
                  <option ng-repeat="profile in vm.profileNames">{{profile}}</option>
                </select>
              </div>
              <div ng-if="!item.editMode" class="rule-view-container">
              <span class="rule-item-field">
                {{item.profileName ? item.profileName : "Select a profile"  | translate}}
              </span>
              </div>
            </div>
            <div class="col-md-2 col-sm-12">
              <div ng-if="item.editMode" class="pull-right">
                <button class="btn btn-primary" type=button" ng-click="vm.saveRule(item)">
                  {{'Save' | translate}}
                </button>
                <button class="btn btn-default" type=button" ng-click="vm.cancelEditRule(item)">
                  {{'Cancel' | translate}}
                </button>
              </div>
              <div ng-if="!item.editMode" class="pull-right">
                <a class="btn btn-link" type=button" ng-click="vm.editRule(item)">
                  <span class="pficon pficon-edit"></span>
                </a>
                <button class="btn btn-link" type=button"
                        confirmation
                        confirmation-if="true"
                        confirmation-title="{{'Delete Rule'|translate}}"
                        confirmation-message="{{'Are you sure you want to delete this rule?'|translate}}"
                        confirmation-ok-text="{{'Delete'|translate}}"
                        confirmation-on-ok="vm.removeRule(item)"
                        confirmation-ok-style="primary"
                        confirmation-show-cancel="true" translate>
                  <span class="pficon pficon-delete"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ui-view>
