.tag-category-select
  float: left
  width: 150px

.tag-value-select
  float: right
  display: inline
  width: 150px

.tag-add
  position: relative
  top: 2px
  right: -177px
  float: right
  font-size: 18px
  color: #0088ce
  cursor: pointer

.tag-list
  border-top: none
  padding-top: 30px
  margin-top: 10px

  li
    display: inline-block
    padding-right: 2px
    padding-bottom: 11px

  .label
    font-size: 11px

    a
      color: #fff
      cursor: pointer