<div pf-toolbar id="blueprintToolbar" config="vm.toolbarConfig"></div>

<div class="list-view-container">
  <div pf-list-view id="blueprintList" class="blueprints-list" config="vm.listConfig" items="vm.blueprintsList"
       action-buttons="vm.actionButtons"
       enable-button-for-item-fn="vm.enableButtonForItemFn"
       menu-actions="vm.menuActions"
       update-menu-action-for-item-fn="vm.updateMenuActionForItemFn">
    <div class="row">
      <div class="col-md-2">
        <span class="no-wrap">
          {{ item.name }}
        </span>
      </div>
      <div class="col-md-3">
        <span class="no-wrap">
          <strong translate>Last Modified</strong>&nbsp;{{ item.updated_at | date:'yyyy-MM-dd hh:mm a' }}
        </span>
      </div>

      <div class="col-md-1">
        <span id="numItems_{{$index}}" class="no-wrap">
          {{ item.ui_properties.num_items }} <span translate>Items</span>
        </span>
      </div>

      <div class="col-md-2">
        <span class="no-wrap">
          <i ng-if="item.ui_properties.visibility.id == '900'" class="fa fa-globe fa-2"></i>
          <i ng-if="item.ui_properties.visibility.id == '800'" class="pficon pficon-private"></i>
          <i ng-if="item.ui_properties.visibility && item.ui_properties.visibility.id != '800' && item.ui_properties.visibility.id != '900'" class="pficon pficon-tenant"></i>
          {{ ((item.ui_properties.visibility != null) ? item.ui_properties.visibility.name : "Unassigned")|translate }}
        </span>
      </div>
      <div class="col-md-2">
        <span id="catalogName_{{$index}}" class="no-wrap">
          {{ (item.ui_properties.service_catalog ? item.ui_properties.service_catalog.name : "Unassigned")|translate }}
        </span>
      </div>
      <div class="col-md-2">
        <span class="no-wrap" ng-if="item.published != null">
          <strong translate>Published</strong>
        </span>
        <span class="no-wrap" ng-if="item.published == null">
          <strong translate>Draft</strong>
        </span>
      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
    setTimeout(function(){
      $(".simple-filter .dropdown-menu li a").click(function(){
        $(".simple-filter input").focus();
      });
      $("#blueprintList .list-view-pf .list-group-item .list-view-pf-actions .btn-default").addClass("btn-primary");
    }, 500);
  });
</script>


