<span ng-class="{'wait-cursor': vm.loading}">
  <ol class="breadcrumb blueprint-designer-header">
      <li>{{'Designer'|translate}}</li>
      <li>
          <a ui-sref="designer.blueprints">{{'Blueprints'|translate}}</a>
      </li>
      <li class="active">
          <input ng-if="!vm.blueprint.read_only" id="blueprintName" type="text" class="blueprint-name-input" ng-model="vm.blueprint.name"
                 placeholder="{{'Untitled Blueprint'|translate}}">
          <strong ng-if="vm.blueprint.read_only" id="blueprintNameLabel">{{vm.blueprint.name}}</strong>
      </li>
      <span class="actions">
        <button ng-if="!vm.blueprint.read_only"
                class="btn btn-primary btb-sm" type="button" ng-click="vm.saveBlueprint()" id="saveBtm"
                ng-class="{'disabled': !vm.canSave()}"
                uib-tooltip="{{'Save Blueprint'|translate}}" tooltip-placement="bottom"
                translate>Save
        </button>
        <span ng-if="vm.blueprint.read_only" id="blueprintStatusLabel" class="capitalize"><em>{{vm.blueprint.status}}</em></span>
        <button class="btn btn-default blueprint-details-btn" type="button" ng-click="vm.editDetails()"
                ng-class="{'disabled': vm.inConnectingMode, 'wait-cursor': vm.loading}"
                tooltip-placement="bottom" uib-tooltip="{{'Edit Blueprint Details' | translate}}"
                translate>Blueprint Details
        </button>
      </span>
  </ol>

  <div class="blueprint-designer-container">

      <div class="section-toolbar">
          <button ng-if="!vm.blueprint.read_only" id="toggleToolbox" class="btn btn-primary" ng-class="{'disabled': vm.inConnectingMode}" type="button" ng-click="vm.toggleToolbox()"
                  tooltip-placement="bottom" uib-tooltip="{{'Add Service Item To Canvas'|translate}}" translate>Add Item
            <span class="fa" ng-class="{'fa-angle-double-up': vm.toolboxVisible, 'fa-angle-double-down': !vm.toolboxVisible}"></span>
          </button>
          <span ng-if="!vm.blueprint.read_only" class="more-actions">
              <a ng-click="vm.duplicateSelectedItem()">
                <span id="duplicateItem" class="pficon fa fa-copy" ng-class="{'disabled': !vm.onlyOneTtemSelected() || vm.inConnectingMode}"
                      tooltip-append-to-body="true" tooltip-placement="bottom"
                      uib-tooltip="{{'Duplicate Item (Ctrl-D)'|translate}}">
                </span>
              </a>
              <a ng-click="vm.removeSelectedItemsFromCanvas()">
                <span id="removeItems" class="pficon pficon-delete" ng-class="{'disabled': !vm.itemsSelected() || vm.inConnectingMode}"
                      tooltip-append-to-body="true" tooltip-placement="bottom"
                      uib-tooltip="{{'Remove Items From Canvas'|translate}}">
                </span>
              </a>
              <span class="show-hide-connectors">
                  <input  ng-class="{'disabled': vm.inConnectingMode}"
                          ng-model="vm.hideConnectors"
                          ng-change="vm.toggleshowHideConnectors()"
                          type="checkbox"
                          ng-checked="vm.hideConnectors">
                  <span class="show-hide-connectors-cabel" translate>Hide Connectors</span>
              </span>
          </span>
          <div ng-if="vm.blueprint.read_only">
              <div class="show-hide-connectors-alone">
                  <input  ng-class="{'disabled': vm.inConnectingMode}"
                          ng-model="vm.hideConnectors"
                          ng-change="vm.toggleshowHideConnectors()"
                          type="checkbox"
                          ng-checked="vm.hideConnectors">
                  <span class="show-hide-connectors-cabel" translate>Hide Connectors</span>
              </div>
          </div>
      </div>

      <div class="toolbox-canvas-container">

          <div class="toolbox-container" id="toolbox" ng-if="vm.toolboxVisible">

              <uib-tabset>
                  <uib-tab ng-repeat="tab in vm.tabs" heading="" active="tab.active">
                      <uib-tab-heading ng-click="vm.tabClicked()">
                          <div class="tab-pre-title">{{tab.preTitle}}</div>
                          <div class="tab-title" ng-class="{'tab-single-line':tab.preTitle == null}">{{tab.title}}</div>
                      </uib-tab-heading>

                      <uib-tabset class="subtabs" ng-if="tab.subtabs">
                          <uib-tab ng-repeat="subtab in tab.subtabs" heading="{{subtab.title}}" active="subtab.active" ng-click="vm.tabClicked()">

                              <uib-tabset class="subtabs" ng-if="subtab.subtabs">
                                  <uib-tab ng-repeat="subsubtab in subtab.subtabs" heading="{{subsubtab.title}}" active="subsubtab.active" ng-click="vm.tabClicked()">
                                      <draggable-items items="subsubtab.items"
                                                       start-drag-callback="vm.startCallback"
                                                       click-callback="vm.addNodeByClick"
                                                       search-text="vm.searchText"/>
                                  </uib-tab>
                              </uib-tabset>

                            <!-- SubTabs without Sub-Sub Tabs -->
                              <draggable-items ng-if="!subtab.subtabs"
                                               items="subtab.items"
                                               start-drag-callback="vm.startCallback"
                                               click-callback="vm.addNodeByClick"
                                               search-text="vm.searchText"/>
                          </uib-tab>
                      </uib-tabset>

                    <!-- Primary Tabs without SubTabs (Bundles) -->
                      <draggable-items ng-if="!tab.subtabs" items="tab.items"
                                       start-drag-callback="vm.startCallback"
                                       click-callback="vm.addNodeByClick"
                                       search-text="vm.searchText"/>
                  </uib-tab>
              </uib-tabset>

              <div class="toolbox-footer">
                  <!-- Create New Item -->
                  <div class="new-catalog-item" ng-if="vm.getNewItem()"
                       data-drag="true" jqyoui-draggable="{onStart:'vm.startCallback( vm.getNewItem() )'}"
                       data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                       ng-click="vm.addNodeByClick( vm.getNewItem() )">
                      <span class="pficon pficon-add-circle-o"></span>
                      <span class="new-catalog-item-label">{{'Create' | translate}} {{vm.getNewItem().name}}</span>
                      <span ng-if="vm.getNewItem().icon" class="{{vm.getNewItem().icon}} new-catalog-item-icon"></span>
                  </div>
                <!-- Filter -->
                  <input ng-model="vm.searchText" id="filterFld" class="search-text"
                         placeholder="{{'Filter by name' | translate}}">
                  <a ng-click="vm.searchText = ''"><span class="pficon pficon-close clear-search-text"></span></a>
              </div>
              <div class="close-toolbox">
              </div>
          </div>

          <blueprint-canvas dragged-item="vm.draggedItem"
                            in-connecting-mode="vm.inConnectingMode"
                            read-only = "vm.blueprint.read_only"
                            chart_data_model="vm.blueprint.ui_properties.chart_data_model"
                            chart_view_model="vm.chartViewModel"/>

      </div>
  </div>
</span>
