<span class="primary-action pull-left" uib-dropdown>
  <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="vm.config.isDisabled"
   uib-tooltip="{{vm.config.tooltipText}}"
            tooltip-append-to-body="true"
            tooltip-popup-delay="1000"
            tooltip-placement="top"
            tooltip-enable="vm.config.tooltipText"
    >
    <i class="{{vm.config.icon}}"></i>
    <span ng-if="vm.config.title">{{vm.config.title}}</span>
    <span class="caret"></span>
  </button>
    <ul uib-dropdown-menu role="menu" ng-class="{'dropdown-menu-right': vm.menuRight}">
      <li role="menuitem" ng-repeat="option in vm.config.actions"
          ng-class="{'disabled': (option.isDisabled === true)}">
        <a ng-if="option.showConfirmation"
           confirmation
           confirmation-id="{{option.confirmationId}}"
           confirmation-title="{{option.confirmationTitle}}"
           confirmation-message="{{option.confirmationMessage}}"
           confirmation-ok-text="{{option.confirmationOkText}}"
           confirmation-on-ok="vm.handleAction(option)"
           confirmation-on-cancel="option.onConfirmationCancel"
           confirmation-ok-style="{{option.confirmationOkStyle}}"
           confirmation-show-cancel="option.confirmationShowCancel">
          <i class="{{option.icon}}"></i>
          {{ option.name }}
        </a>
        <a ng-if="!option.showConfirmation" ng-click="vm.handleAction(option)" >
          <i class="{{option.icon}}"></i>
          {{ option.name }}
        </a>
      </li>
    </ul>
</span>
