<div class="breadcrumb-bar">
  <span>
      <ol class="breadcrumb">
        <li>
          <a ui-sref="services">{{ 'My Services'|translate }}</a>
        </li>
        <li>
          <a ui-sref="services.details({serviceId: vm.vmDetails.service.id})">{{  vm.vmDetails.service.name  }}</a>
        </li>
        <li>
          {{  vm.vmDetails.name }}
        </li>
      </ol>
  </span>
    <div class="breadcrumb-actions">
        <div uib-dropdown class="dropdown-kebab-pf">
            <custom-button ng-if="vm.hasCustomButtons()"
                           class="custom-dropdown pull-left"
                           service-id="vm.vmDetails.service.id"
                           vm-id="vm.vmDetails.id"
                           custom-actions="vm.vmDetails.custom_actions">
            </custom-button>
            <custom-dropdown class="custom-dropdown pull-left"
                             config="item"
                             ng-repeat="item in vm.snapshotListActions"
                             menu-right="true">
            </custom-dropdown>
            <custom-dropdown class="custom-dropdown pull-left"
                             config="item"
                             ng-repeat="item in vm.listActions"
                             menu-right="true">
            </custom-dropdown>
        </div>
    </div>
</div>
<div class="container-fluid breadcrumb-content">
    <div class="row">
        <div class="col-md-2">
            <pf-info-status-card status="vm.genInfo"></pf-info-status-card>
        </div>
        <div class="col-md-2">
            <pf-info-status-card status="vm.provInfo"></pf-info-status-card>
        </div>
        <div class="col-md-2"
             uib-tooltip="{{'Running Time' | translate}}: {{ vm.elapsed(vm.presentDate, vm.vmDetails.state_changed_on) | elapsedTime }} "
             tooltip-placement="bottom">
            <pf-aggregate-status-card status="vm.powerState"></pf-aggregate-status-card>
        </div>
        <div class="col-md-2"
             uib-tooltip="{{vm.vmDetails.complianceHistory}}"
             tooltip-placement="bottom">
            <pf-aggregate-status-card status="vm.compliance"></pf-aggregate-status-card>
        </div>
        <div class="col-md-2">
            <pf-aggregate-status-card status="vm.retirement"></pf-aggregate-status-card>
        </div>
        <div class="col-md-2">
            <pf-aggregate-status-card ng-if="vm.permissions.vm_snapshot_show_list" status="vm.snapshots"
                                      ui-sref="vms.snapshots({vmId: vm.vmDetails.id})"></pf-aggregate-status-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-pf">
                <h2 translate>{{'Timeline - Power Events'|translate}}
                    <span class="detail">{{'View All' | translate}}</span>
                </h2>
                <timeline data="vm.tlData" options="vm.tlOptions"></timeline>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card-pf">
                <usage-graphs
                        title-details="{{'created on ' | translate}}{{(vm.metrics.resources[0].created_on || vm.presentDate) | date:'short'}}"
                        cpu-chart="vm.cpuUtil"
                        memory-chart="vm.memUtil"
                        storage-chart="vm.stoUtil"></usage-graphs>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-pf">
                        <h2 translate><i class="pficon-storage-domain"></i>Disk Usage</h2>
                        <pf-utilization-bar-chart
                                available-tooltip-function="vm.availableTooltip(item)"
                                used-tooltip-function="vm.usedTooltip(item)"
                                ng-repeat="item in vm.diskUsage"
                                chart-data="item.data"
                                chart-title="item.device_name" layout="item.layout"
                                units="item.units" threshold-error="85"
                                threshold-warning="60"></pf-utilization-bar-chart>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-pf">
                        <h2 translate>Disk I/O</h2>
                        <pf-empty-state config="vm.emptyState"></pf-empty-state>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card-pf card-pf-regular">
                <h2 translate><i class="fa fa-tags"></i>Tags</h2>
                <tagging-widget tags-of-item="vm.availableTags"
                                read-only="true"></tagging-widget>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-pf card-pf-regular">
                <h2 trasnlate># Custom Attributes</h2>
                <pf-empty-state ng-if="!vm.vmDetails.custom_attributes.length" config="vm.emptyState"></pf-empty-state>
                <div ng-if="vm.vmDetails.custom_attributes.length" class="row"
                     ng-repeat="item in vm.vmDetails.custom_attributes">
                    <div class="col-sm-6">
                        {{ item.name }}
                    </div>
                    <div class="col-sm-6 ">
                        {{ item.value }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-pf card-pf-regular">
                <h2 translate>Smart State Analysis</h2>
                <div class="row card-pf-row"  ng-repeat="item in vm.ssAnalysis">
                    <div class="col-xs-2 col-md-3">
                        <span class="pull-right">{{item.value}}</span>
                    </div>
                    <div class="col-xs-10 col-md-9" translate>
                        <i class={{item.icon}}></i> {{item.title}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
