<span ng-controller="designerCtrl">

  <span class="blueprint-designer-header">
    <ol class="breadcrumb">
        <li>
            <a ui-sref="^"> <span class="fa fa-angle-double-left"/>&nbsp;{{'Back to Blueprints'|translate}}</a>
        </li>
        <li class="active"><strong translate>Blueprint Editor: </strong>
            <input type="text" class="blueprint-name-input" ng-model="blueprint.name"
                   ng-change="blueprintNameChange()"
                   placeholder="{{'Untitled Blueprint'|translate}}">
            <button class="btn btn-primary btb-sm" type="button" ng-click="saveBlueprint()" id="saveBtm"
                    ng-class="{'disabled': blueprintUnchanged()}" data-toggle="tooltip" data-placement="bottom"
                    title="{{'Save Blueprint'|translate}}" translate>Save
            </button>
        </li>
    </ol>

    <pf-notification-list></pf-notification-list>
  </span>

  <div class="blueprint-designer-container">

      <div class="toolbar">
          <button id="toggleToolbox" class="btn btn-primary" ng-class="{'disabled': inConnectingMode}" type="button" ng-click="showToolbox()"
                  data-toggle="tooltip" data-placement="bottom" title="Add Service Item To Canvas" translate>Add Item
          </button>
          <button id="duplicateItem" class="btn" type="button" ng-class="{'disabled': !onlyOneTtemSelected() || inConnectingMode}"
                  ng-click="duplicateSelectedItem()" data-toggle="tooltip" data-placement="bottom"
                  title="Duplicate Item (Ctrl-D)" translate>Duplicate
          </button>
          <button id="removeItems" class="btn" type="button" ng-class="{'disabled': !itemsSelected() || inConnectingMode}"
                  ng-click="removeSelectedItemsFromCanvas()" data-toggle="tooltip" data-placement="bottom"
                  title="Remove Items From Canvas" translate>Remove
          </button>
          <span class="more-actions">
              <button id="blueprintDetails" class="btn" type="button" ng-click="editDetails()" data-toggle="tooltip"
                      ng-class="{'disabled': inConnectingMode}"
                      data-placement="bottom" title="{{'Edit Blueprint Details'|translate}}" translate>Blueprint Details
              </button>
              <span class="showHideConnectors">
                  <input  ng-class="{'disabled': inConnectingMode}"
                          ng-model="hideConnectors"
                          ng-change="toggleshowHideConnectors()"
                          type="checkbox"
                          ng-checked="hideConnectors">
                  <span class="showHideConnectorsLabel" translate>Hide Connectors</span>
              </span>
          </span>
      </div>

      <div class="toolbox-canvas-container"
           ng-controller="canvasCtrl"
           mouse-capture>

          <div class="toolbox-container" id="toolbox" ng-if="toolboxVisible">

              <tabset>
                  <tab ng-repeat="tab in tabs" heading="" active="tab.active">
                      <tab-heading ng-click="tabClicked()">
                          <div class="tab-pre-title">{{tab.preTitle}}</div>
                          <div class="tab-title" ng-class="{'tab-single-line':tab.preTitle == null}">{{tab.title}}</div>
                      </tab-heading>
                      <tabset id="subtabs" ng-if="tab.subtabs != null">
                          <tab ng-repeat="subtab in tab.subtabs" heading="{{subtab.title}}" active="subtab.active" ng-click="tabClicked()">
                              <ul class="catalog-items-list">
                                  <li class="catalog-item" ng-repeat="item in subtab.items | filter:searchText"
                                      data-drag="true" jqyoui-draggable="{onStart:'startCallback(item)'}"
                                      data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                                      ng-click="addNodeByClick(item)">
                                      <img ng-if="item.image" src="{{item.image}}">
                                      <i ng-if="item.bundle && !item.image" class="fa fa-gift"></i>
                                      {{ item.title }}
                                  </li>
                              </ul>
                          </tab>
                      </tabset>
                      <!- Primary Tabs without SubTabs (Bundles) -->
                      <ul class="catalog-items-list" ng-if="tab.subtabs == null">
                          <li class="catalog-item" ng-repeat="item in tab.items | filter:searchText"
                              data-drag="true" jqyoui-draggable="{onStart:'startCallback(item)'}"
                              data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                              ng-click="addNodeByClick(item)">
                              <img ng-if="item.image" src="{{item.image}}">
                              <i ng-if="item.bundle && !item.image" class="fa fa-gift"></i>
                              <span>{{ item.title }}</span>
                          </li>
                      </ul>
                  </tab>
              </tabset>

              <div class="toolbox-footer">
                  <div class="new-catalog-item"
                       data-drag="true" jqyoui-draggable="{onStart:'startCallback(newItem)'}"
                       data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                       ng-click="addNodeByClick(newItem)">
                      <span class="pficon pficon-add-circle-o" style="color: #00a8e1"></span> {{'Add New Catalog Item...'|translate}}
                  </div>
                  <input ng-model="searchText" id="filterFld" class="search-text"
                         placeholder="{{'Filter by name'|translate}}">
                  <a ng-click="searchText = ''"><span class="pficon pficon-close clear-search-text"></span></a>
              </div>
              <div class="close-toolbox">
                  <a ng-if="toolboxVisible" ng-click="hideToolbox()" style="cursor: pointer"><span
                          class="fa fa-angle-double-up fa-2x"></span></a>
              </div>
          </div>

          <div class="canvas-container" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop:'dropCallback'}">
              <flow-chart class="canvas" ng-class="{'canvas-in-connection-mode': inConnectingMode}" chart="chartViewModel"></flow-chart>
          </div>
      </div>
  </div>
</span>