.list-view-container
  &.order-details
    height: calc(100vh - 272px)

.ss-details-wrapper
  .order-details
    .list-view-pf
      margin-top: 0

.vm-action-button
  padding: 2px

.redhat-tags
  i
    margin-right: 4px

