<ol class="breadcrumb">
  <li>
    <a ui-sref="^">{{'My Services'|translate}}</a>
  </li>
  <li class="active"> <strong>{{ ::vm.service.name }}</strong>
  </li>
</ol>

<div class="ss-details-wrapper">
  <div class="panel panel-default ss-details-panel">
    <div class="panel-body">
      <section>
        <div class="col-md-12 ss-details-header">
          <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
              <div class="ss-details-header__title-img">
                <span class="ss-details-header__title-img__center"></span>
                <img class="ss-details-header__title-img__logo" ng-src="{{ ::vm.service.picture.image_href }}"
                  ng-if=" ::vm.service.picture.image_href "/>
                <img class="ss-details-header__title-img__logo" ng-src="images/service.png"
                  ng-if=" ::!vm.service.picture.image_href "/>
              </div>
              <div class="ss-details-header__title">
                <h2>{{ ::vm.service.name }}</h2>
                <h4>{{ ::vm.service.long_description || vm.service.description }}</h4>
              </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6 ss-details-header__actions">
              <div class="ss-details-header__actions__inner dropdown dropdown-kebab-pf">
              <custom-button
                service-template-catalog-id="vm.service.service_template.service_template_catalog_id"
                service-id="vm.service.id"
                custom-actions="vm.service.custom_actions"
                actions="vm.service.actions">
              </custom-button>
              <button class="btn btn-default" type="button" tooltip="{{'Permanently delete the service'|translate}}" tooltip-placement="bottom"
                    ng-show="vm.showRemoveService"
                    ng-disabled="vm.powerOperationInProgressState(vm.service)"
                    confirmation
                    confirmation-title="{{'Remove Service'|translate}}"
                    confirmation-message="{{'Confirm, would you like to remove this service?'|translate}}"
                    confirmation-ok-text="{{'Yes, Remove Service'|translate}}"
                    confirmation-on-ok="vm.removeService()"
                    confirmation-ok-style="primary"
                    confirmation-show-cancel="true" translate>Remove Service
              </button>
              <div class="btn-group" dropdown>
                <button id="single-button" type="button" class="btn btn-default"
                  ng-disabled="vm.powerOperationInProgressState(vm.service)"
                  dropdown-toggle tooltip="{{'Inactivate the service'|translate}}"
                  tooltip-placement="bottom"
                  ng-show="vm.showRetireService || vm.showScheduleRetirementService">
                  {{'Retire'|translate}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="menuitem">
                    <a href="#" confirmation
                      confirmation-title="{{'Retire Service Now'|translate}}"
                      confirmation-message="{{'Confirm, would you like to retire this service?'|translate}}"
                      confirmation-ok-text="{{'Yes, Retire Service Now'|translate}}"
                      confirmation-on-ok="vm.retireServiceNow()"
                      confirmation-ok-style="primary"
                      confirmation-show-cancel="true" translate>Retire Now</a></li>
                  <li role="menuitem"><a href="#" ng-click="vm.retireServiceLater()" ng-show="vm.showScheduleRetirementService" translate>Schedule Retirement</a></li>
                </ul>
              </div>
                <button class="btn btn-primary" type="button" ng-click="vm.startService(vm.service)" ng-disabled="!vm.enableStartButton(vm.service)" translate>Start</button>
              <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right 2" aria-labelledby="dropdownKebabRight">
                <li ng-class="{'disabled': vm.checkDisabled('stop', vm.service)}">
                  <a href="#" title="Stop this service" ng-click="vm.handlePowerOperation('stop', vm.service)">{{'Stop'|translate}}</a>
                </li>
                <!-- TODO: Pulling out 'Suspend' option for now. We may add it back if/when we have reliable backend support -->
                <!--<li ng-class="{'disabled': vm.checkDisabled('suspend', vm.service)}">-->
                  <!--<a href="#" title="Suspend this service" ng-click="vm.handlePowerOperation('suspend', vm.service)">{{'Suspend'|translate}}</a>-->
                <!--</li>-->
                <li><a href="#" title="Edit this service" ng-click="vm.editServiceModal()" ng-show="vm.showEditService">{{'Edit'|translate}}</a></li>
                <li><a href="#" title="Set Ownership" ng-click="vm.ownershipServiceModal()" ng-show="vm.showSetOwnership">{{'Set Ownership'|translate}}</a></li>
                <li><a href="#" ng-if="vm.service.reconfigure" ng-click="vm.reconfigureService(vm.service.id)" ng-show="vm.showReconfigureService" translate>Reconfigure</a></li>
              </ul>
            </div>
            </div>
          </div>
        </div>
      </section>
      <section class="ss-form-readonly">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Service Id</label>

                  <div class="col-sm-8">
                    <input class="form-control" disabled value="{{ ::vm.service.id }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Retirement Date</label>
                  <div class="col-sm-8">
                    <input ng-if=(vm.service.retires_on) class="form-control" disabled
                         value="{{ ::vm.service.retires_on | date }}"/>
                    <input ng-if=!(vm.service.retires_on) class="form-control" disabled value="Never"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Owner</label>
                  <div class="col-sm-8">
                    <input class="form-control" disabled value="{{ ::vm.service.evm_owner.name }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Group</label>
                  <div class="col-sm-8">
                    <input class="form-control" disabled value="{{ ::vm.service.miq_group.description }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Created On</label>
                  <div class="col-sm-8">
                    <input class="form-control" disabled value="{{ ::vm.service.created_at | date:'medium' }}"/>
                  </div>
                </div>
                <div class="form-group" ng-show="vm.service.chargeback.used_cost_sum">
                  <label class="control-label col-sm-4" translate>Monthly Charge</label>
                  <div class="col-sm-8">
                    <input class="form-control" disabled value="${{ ::vm.service.chargeback.used_cost_sum | number:3 }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Power State</label>
                  <div class="col-sm-8">
                    <i class="fa fa-circle" style="font-size:15px;color:#1dc58e;" ng-if="vm.service.power_state === 'on' && vm.service.power_status === 'start_complete'" uib-tooltip="{{'Power State: On'|translate}}" tooltip-placement="bottom"></i>
                    <i class="fa fa-circle" style="font-size:15px;color:#cc151d;" ng-if="vm.service.power_state === 'off' && vm.service.power_status === 'stop_complete'" uib-tooltip="{{'Power State: Off'|translate}}" tooltip-placement="bottom"></i>
                    <i class="fa fa-circle" style="font-size:15px;color:orangered;" ng-if="vm.service.power_state === 'off' && vm.service.power_status === 'suspend_complete'" uib-tooltip="{{'Power State: Suspended'|translate}}" tooltip-placement="bottom"></i>
                    <i class="fa fa-question-circle" style="font-size:15px;color:#3397db;" ng-if="vm.service.power_state === '' && vm.service.power_status === ''" uib-tooltip="{{'Power State: Unknown'|translate}}" tooltip-placement="bottom"></i>
                    <i class="fa fa-spinner fa-pulse" style="font-size:15px;color:#1dc58e;" ng-if="vm.service.power_state !== 'timeout' && vm.service.power_status === 'starting'" uib-tooltip="{{'Power State: Starting...'|translate}}" tooltip-placement="bottom"></i>
                    <i class="fa fa-spinner fa-pulse" style="font-size:15px;color:#cc151d;" ng-if="vm.service.power_state !== 'timeout' && vm.service.power_status === 'stopping'" uib-tooltip="{{'Power State: Stopping...'|translate}}" tooltip-placement="bottom"></i>
                    <i class="fa fa-spinner fa-pulse" style="font-size:15px;color:orangered;" ng-if="vm.service.power_state !== 'timeout' && vm.service.power_status === 'suspending'" uib-tooltip="{{'Power State: Suspending...'|translate}}" tooltip-placement="bottom"></i>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Management Engine GUID</label>
                  <div class="col-sm-8">
                    <input class="form-control" disabled value="{{ ::vm.service.guid }}"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>CPU</label>
                  <div class="col-sm-8">
                    <input class="form-control" disabled value="{{ ::vm.service.aggregate_all_vm_cpus }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Memory</label>
                  <div class="col-sm-8">
                    <input class="form-control" disabled value="{{ ::vm.service.aggregate_all_vm_memory | megaBytes | formatBytes }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Disk Count</label>
                  <div class="col-sm-8">
                    <input class="form-control" disabled value="{{ ::vm.service.aggregate_all_vm_disk_count}}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Disk Space Allocated</label>
                  <div class="col-sm-8">
                    <input class="form-control" disabled value="{{ ::vm.service.aggregate_all_vm_disk_space_allocated | formatBytes }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Disk Space Used</label>

                  <div class="col-sm-8">
                    <input class="form-control" disabled value="{{ ::vm.service.aggregate_all_vm_disk_space_used | formatBytes }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Memory on Disk</label>

                  <div class="col-sm-8">
                    <input class="form-control" disabled value="{{ ::vm.service.aggregate_all_vm_memory_on_disk | formatBytes }}"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="panel panel-default ss-details-panel">
    <div class="panel-body">
      <section class="ss-details-section">
        <h2 translate>Virtual Machines ({{ ::vm.vms.length }})</h2>
        <p ng-if="vm.vms.length === 0" translate>
          This service has no associated VMs
        </p>
        <div pf-list-view id="serviceList" config="vm.listConfig" items="vm.vms" ng-if="vm.vms.length > 0">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
              <span class="no-wrap">
                <i class="pficon pficon-screen" tooltip="{{'Instance name'|translate}}" tooltip-placement="right"></i>&nbsp;{{ item.name }}
              </span>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
              <span class="no-wrap">
                <strong translate>Vendor</strong>&nbsp;{{ item.vendor }}
              </span>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 hidden-xs">
              <span class="no-wrap">
                <strong translate>Size</strong>&nbsp;{{ item.memory_shares | formatBytes }}
              </span>
            </div>
            <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
              <span class="no-wrap">
                <strong tooltip="{{'The last heartbeat received from the instances'|translate}}" tooltip-placement="bottom" translate>Last Scan</strong>&nbsp;{{ item.last_scan_on | date:'medium' }}
              </span>
            </div>
            <div class="col-lg-1 col-md-2 hidden-sm hidden-xs">
              <span class="no-wrap">
                <i class="fa pficon fa-power-off" ng-if="item.power_state == 'off'" tooltip="{{'Power State'|translate}}" tooltip-placement="bottom"></i>
                <i class="pficon pficon-ok" ng-if="item.power_state == 'on'" tooltip="{{'Power State'|translate}}" tooltip-placement="bottom"></i>
                <i class="fa pficon fa-pause" ng-if="item.power_state == 'suspended'" tooltip="{{'Power State'|translate}}" tooltip-placement="bottom"></i>
                <strong ng-if="item.power_state == 'never' || item.power_state == 'unknown'" tooltip="{{'Power State'|translate}}" tooltip-placement="bottom" translate>Power State</strong>&nbsp;{{ item.power_state }}
              </span>
            </div>
            <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
              <button class="btn btn-default open-console-button" ng-if="item['supports_console?'] && item.power_state == 'on'" tooltip="{{'Open a HTML5 console for this VM'|translate}}" tooltip-placement="left">
                <i class="fa fa-html5 fa-lg"></i>
              </button>
              <button class="btn btn-default open-cockpit-button" ng-if="item['supports_cockpit?'] && item.power_state == 'on'" tooltip="{{'Open Cockpit console for this VM'|translate}}" tooltip-placement="left">
                <img src="images/cockpit.png">
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="panel panel-default ss-details-panel ss-details-panel-bottom">
    <div class="panel-body">
      <section class="ss-details-section">
        <dialog-content dialog="vm.service.provision_dialog" input-disabled="true" options="vm.service.options.dialog"></dialog-content>
      </section>
    </div>
  </div>
</div>
