.navbar-pf-vertical
  background-color: $app-color-dark-blue-gray
  background-image: url(../images/bg-navbar.png)
  background-repeat: no-repeat
  background-size: auto 100%

  .navbar-brand .navbar-brand-icon
    height: 20px
    margin-top: 10px

.navbar__user-name
  display: inline-block
  color: $color-white
  margin-left: 1ex

.secondary-collapse-toggle-pf
  &:before
    content: '\f08d'
  &.collapsed:before
    -ms-transform: rotate(45deg)
    -webkit-transform: rotate(45deg)
    transform: rotate(45deg)
    content: '\f08d'
    display: inline-block
