<div class="breadcrumb-bar">
  <span>
      <ol class="breadcrumb">
        <li class="active">{{'Orders'|translate}}</li>
      </ol>
  </span>
</div>
<div pf-toolbar class="section-toolbar section-toolbar-right-actions" config="vm.toolbarConfig">
  <actions>
    <custom-dropdown
      class="custom-dropdown pull-left"
      config="item"
      items="vm.selectedItemsList"
      items-count="vm.selectedItemsList.length"
      ng-repeat="item in vm.actionConfig"
      on-update="vm.listActionDisable($config, $changes)"
      menu-right="true">
    </custom-dropdown>
  </actions>
</div>
<div class="list-view-container section-container paged-container service-explorer-list">
  <loading status="vm.loading"></loading>
  <div ng-if="!vm.loading"
       pf-list-view id="orderList"
       config="vm.listConfig"
       items="vm.ordersList"
       custom-scope="vm"
       menu-actions="vm.menuActions"
       update-menu-action-for-item-fn="vm.updateMenuActionForItemFn">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-5 col-xs-8">
        <span class="no-wrap">
          <strong translate>Order #</strong>
          <a ui-sref="orders.details({serviceOrderId: item.id})">{{ item.id }}</a>
        </span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-5 col-xs-4">
        <span class="no-wrap">
          <strong translate>Requester</strong>&nbsp;{{ item.user_name }}
        </span>
      </div>
      <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
        <span class="no-wrap">
          <strong translate>Ordered </strong>&nbsp;{{ (item.placed_at || item.updated_at) | date }}</h4>
        </span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-2 hidden-xs">
        <span class="no-wrap" translate-plural="{{ $count }} items" translate
              translate-n="item.service_requests.length || 0">
          {{ $count }} item
        </span>
      </div>
    </div>
    <list-expanded-content>
      <div pf-list-view
           class="service-explorer-children-list"
           config="vm.expandedListConfig"
           items="$parent.item.service_requests"
           custom-scope="vm">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <span class="no-wrap" uib-tooltip="{{item.description}}" tooltip-append-to-body="true"
                  tooltip-placement="bottom-left">
              <a ui-sref="requests.details({requestId: item.id})">
                {{ item.description }}
              </a>
              </a>
            </span>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
             <span class="no-wrap" uib-tooltip="{{item.id}}" tooltip-append-to-body="true"
                   tooltip-placement="bottom-left">
              <strong>Request ID</strong>&nbsp;
                {{ item.id }}
              </span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <span class="no-wrap text-capitalize">
              <i class="pficon" ng-class="{
              'pficon-ok': item.approval_state === 'approved',
              ' pficon-error-circle-o': item.approval_state === 'denied',
              ' pficon-history': item.approval_state === 'pending_approval'}"></i>
              {{ item.approval_state === "pending_approval"? "Pending Approval" : item.approval_state }}
            </span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <span class="no-wrap text-capitalize">
              <strong translate>Request State</strong>
              {{ item.request_state }}
            </span>
          </div>
        </div>
      </div>
    </list-expanded-content>
  </div>
</div>
<explorer-pagination limit="vm.limit" count="vm.filterCount" limit-options="vm.limitOptions"
                     on-update="vm.resolveOrders($limit, $offset)">
</explorer-pagination>

