<div class="modal-header">
  <button type="button" class="close" ng-click="vm.cancel()" aria-hidden="true">
    <span class="pficon pficon-close"></span>
  </button>
  <h4 ng-if="vm.isRemove" class="modal-title" translate>Remove Services</h4>
  <h4 ng-if="vm.isRetireNow" class="modal-title" translate>Retire Services</h4>
</div>
<div class="modal-body">
  <i class="pf pficon-warning-triangle-o"></i>
  <span ng-if="vm.isRemove">{{ "Warning: The selected Services and ALL of their components will be permanently removed!" | translate }}</span>
  <span ng-if="vm.isRetireNow"> {{ "Warning: The selected Services and ALL of their components will be immediately retired!" | translate }}</span>
  <hr>
  <h4 translate>Affected Services</h4>
  <icon-list items="vm.services"></icon-list>
</div>
<div class="modal-footer">
  <action-button-group
    action-confirmation="true"
    on-cancel="vm.cancel()"
    on-ok="vm.confirm()">
  </action-button-group>
</div>

