<div>
  <div pf-toolbar class="arbitration-rules-toolbar" id="arbitrationRulesToolbar" config="vm.toolbarConfig">
    <actions>
      <button class="btn btn-primary" type="button"
              ng-click="vm.addRule()"
              ng-disabled="vm.editMode"
              title="{{'Create a new rule' | translate}}">
        <span class="fa fa-plus"></span>
        {{'Create' | translate}}
      </button>
    </actions>
  </div>
  <div class="list-view-container">
    <ul class="arbitration-rules-list list-view-pf" dnd-list="vm.arbitrationRules">
      <li class="list-group-item" ng-repeat="item in vm.arbitrationRules track by $index"
          dnd-draggable="item"
          dnd-effect-allowed="move"
          dnd-disable-if="vm.editMode"
          dnd-dragstart="vm.ruleDrag(item)"
          dnd-moved="vm.ruleMoved()"
          dnd-dragend="vm.adjustPriorities()"
          ng-class="{'drag-original': item == vm.dragRule}">
        <div class="content-container">
          <div class="drag-contents">
            <span class="rule-item-heading">
              {{'IF' | translate}}
            </span>
            <span>
            {{item.field ? item.field : "Select a field"  | translate}}
            </span>
            <span class="rule-item-field rule-item-operation">
              {{item.operator ? item.operator : "Select an operator"  | translate}}
            </span>
            <span class="rule-item-field">
              {{item.value ? item.value : "Enter a value" | translate}}
            </span>
            <span class="rule-item-heading">
              {{'USE' | translate}}
            </span>
            <span class="rule-item-field">
              {{item.profileName ? item.profileName : "Select a profile"  | translate}}
            </span>
          </div>
          <div class="row item-contents">
            <div class="col-md-1 col-sm-12">
              <span>{{item.priority}}</span>
            </div>
            <div class="col-md-6 col-sm-12">
            <span class="rule-item-heading">
              {{'IF' | translate}}
            </span>
              <div ng-if="item.editMode" class="rule-edit-container operations">
                <select pf-select="{ noneSelectedText: 'None' }" class="operation-select"
                        ng-model="item.field" ng-options="o as o for o in vm.fields" ng-change="vm.validateEditRow()">
                  <option value="">{{'Select a field' | translate}}</option>
                </select>
                <select pf-select class="operation-select" ng-model="item.operator" ng-change="vm.validateEditRow()">
                  <option value="">{{"Select an operator"  | translate}}</option>
                  <option ng-repeat="operatorName in vm.operatorNames track by $index">{{operatorName | translate}}</option>
                </select>
                <input ng-model="item.value" class="rule-edit-value" type="text"
                       placeholder="{{'Enter a value' | translate}}" ng-change="vm.validateEditRow()"/>
              </div>
              <div ng-if="!item.editMode" class="rule-view-container">
              <span class="rule-item-field">
                {{item.field ? item.field : "Select a field"  | translate}}
              </span>
              <span class="rule-item-field rule-item-operation">
                {{item.operator ? item.operator : "Select an operator"  | translate}}
              </span>
              <span class="rule-item-field">
                {{item.value ? item.value : "Enter a value" | translate}}
              </span>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
            <span class="rule-item-heading">
              {{'USE' | translate}}
            </span>
              <div ng-if="item.editMode" class="rule-edit-container">
                <select pf-select class="profile-select" ng-model="item.profileName" ng-change="vm.validateEditRow()">
                  <option value="">{{"Select a profile"  | translate}}</option>
                  <option ng-repeat="profile in vm.profileNames track by $index">{{profile}}</option>
                </select>
              </div>
              <div ng-if="!item.editMode" class="rule-view-container">
              <span class="rule-item-field">
                {{item.profileName ? item.profileName : "Select a profile"  | translate}}
              </span>
              </div>
            </div>
            <div class="col-md-2 col-sm-12 arbitration-buttons">
              <div ng-if="item.editMode" class="pull-right">
                <button class="btn btn-primary" type=button" ng-disabled="!vm.okToSave" ng-click="vm.saveRule(item)">
                  {{'Save' | translate}}
                </button>
                <button class="btn btn-default" type=button" ng-click="vm.cancelEditRule(item)">
                  {{'Cancel' | translate}}
                </button>
              </div>
              <div ng-if="!item.editMode" class="pull-right">
                <div class="btn-container">
                  <button class="btn btn-link priority-button" type=button"
                          ng-click="vm.downPriority(item)"
                          ng-disabled="vm.editMode">
                    <span class="fa fa-arrow-down"></span>
                  </button>
                  <button class="btn btn-link priority-button" type=button"
                          ng-click="vm.upPriority(item)"
                          ng-disabled="vm.editMode">
                    <span class="fa fa-arrow-up"></span>
                  </button>
                </div>
                <div class="btn-container">
                  <button class="btn btn-link" type=button" ng-click="vm.editRule(item)" ng-disabled="vm.editMode">
                    <span class="pficon pficon-edit"></span>
                  </button>
                  <button class="btn btn-link" type=button"
                          ng-disabled="vm.editMode"
                          confirmation
                          confirmation-id="confirmDeleteRule"
                          confirmation-title="{{'Delete Rule'|translate}}"
                          confirmation-message="{{'Are you sure you want to delete this rule?'|translate}}"
                          confirmation-ok-text="{{'Delete'|translate}}"
                          confirmation-on-ok="vm.removeRule(item)"
                          confirmation-ok-style="primary"
                          confirmation-show-cancel="true">
                    <span class="pficon pficon-delete"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
