<div class="designer-catalogs-list">
  <div pf-toolbar class="section-toolbar" id="designerCatalogsToolbar" config="vm.toolbarConfig"></div>
  <div class="list-view-container section-container"
       confirmation
       confirmation-id="confirmDeleteCatalog"
       confirmation-trigger-value="vm.confirmDelete"
       confirmation-title="{{'Delete Catalog'|translate}}"
       confirmation-message="{{'Are you sure you want to delete catalog [[catalog_name]]?'|translate|substitute:{catalog_name: vm.catalogToDelete ? vm.catalogToDelete.name : ''} }}"
       confirmation-ok-text="{{'Delete'|translate}}"
       confirmation-on-ok="vm.removeCatalog(item)"
       confirmation-on-cancel="vm.cancelRemoveCatalog(item)"
       confirmation-ok-style="primary"
       confirmation-show-cancel="true">
    <div pf-list-view
         config="vm.listConfig"
         items="vm.designerCatalogsList"
         action-buttons="vm.actionButtons"
         menu-actions="vm.menuActions">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-5 col-xs-12">
            <span class="no-wrap"
                  tooltip="{{item.name}}"
                  tooltip-placement="bottom"
                  tooltip-popup-delay="1000">
              <strong>{{item.name}}</strong>
            </span>
          </div>
          <div class="col-lg-5 col-md-4 hidden-sm hidden-xs">
            <span class="no-wrap" tooltip="{{item.description}}" tooltip-placement="bottom" tooltip-popup-delay="1000">
              {{item.description}}
            </span>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <span class="no-wrap" ng-if="item.tenant">
              <span class="list-item-img tenant-img"></span>
              <span tooltip="{{item.tenant.name}}" tooltip-placement="bottom" tooltip-popup-delay="1000">
                {{item.tenant.name}}
              </span>
            </span>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6"
               tooltip="{{item.serviceTemplatesTooltip}}"
               tooltip-placement="bottom"
               tooltip-popup-delay="1000">
            <span class="no-wrap">
              <span class="fa pficon-service"></span>
              <span>{{item.serviceTemplates.length}}</span>
            </span>
          </div>
      </div>
      <list-expanded-content>
        <div pf-list-view
             class="designer-catalog-templates-list"
             config="vm.serviceTemplatesListConfig"
             items="$parent.item.serviceTemplates">
          <span class="list-view-expand-content-left ss-list-view__title-img">
            <span class="ss-list-view__title-img__center"></span>
            <img class="ss-list-view__title-img__logo" src="{{item.picture.image_href}}" ng-if="item.picture"/>
            <span class="list-item-img service-template-img" ng-if="!item.picture"></span>
          </span>
          <div class="row designer-catalog-templates-content">
            <div class="col-lg-2 col-md-3 col-sm-5 col-xs-12">
              <span class="no-wrap"
                    tooltip="{{item.name}}"
                    tooltip-placement="bottom"
                    tooltip-append-to-body="true"
                    tooltip-popup-delay="1000">
                <span>
                  {{item.name}}
                </span>
              </span>
            </div>
            <div class="col-lg-6 col-md-5 hidden-sm hidden-xs">
              <span class="no-wrap"
                    tooltip="{{item.description}}"
                    tooltip-placement="bottom"
                    tooltip-append-to-body="true"
                    tooltip-popup-delay="1000">
                {{item.description}}
              </span>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <span class="list-item-title" translate>Dialog</span>
              <span ng-if="item.dialog"
                    tooltip="{{item.dialog.label}}"
                    tooltip-placement="bottom"
                    tooltip-append-to-body="true"
                    tooltip-popup-delay="1000">
                {{item.dialog.label}}
              </span>
              <span ng-if="!item.dialog" translate>No Dialog</span>
            </div>
          </div>
        </div>
      </list-expanded-content>
    </div>
  </div>
</div>
