<div class="ss-details-wrapper">
  <div class="panel panel-default ss-details-panel designer-catalog-details">
    <div class="panel-body">
      <section>
        <div class="col-md-12 ss-details-header">
          <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
              <h2 translate ng-if="vm.catalog">Edit Catalog</h2>
              <h2 translate ng-if="!vm.catalog">Add Catalog</h2>
            </div>
          </div>
        </div>
      </section>
      <section class="ss-form">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
              <h3 translate>Basic Information</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Name</label>
                  <div class="col-sm-8">
                    <input id="catalog-editor-name"
                           class="form-control"
                           ng-model="vm.editInfo.name"
                           value="{{vm.editInfo.name}}"
                           ng-change="vm.updateSelections()"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" translate>Description</label>
                  <div class="col-sm-8">
                    <input id="catalog-editor-description"
                           class="form-control"
                           maxlength="50"
                           ng-model="vm.editInfo.description"
                           value="{{vm.editInfo.description}}
                           " ng-change="vm.updateSelections()"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
              <h3 translate>Assign Services</h2>
            </div>
          </div>
          <dual-pane-selector available-items="vm.editInfo.availableServiceTemplates"
                              selected-items="vm.editInfo.selectedServiceTemplates"
                              available-title="{{'Unassigned'|translate}}"
                              selected-title="{{'Selected'|translate}}"
                              sort-fn="vm.sortTemplates",
                              on-change-fn="vm.updateSelections">
            <available>{{$parent.item.name}}</available>
            <selected>{{$parent.item.name}}</selected>
          </dual-pane-selector>
        </div>
      </section>
    </div>
  </div>
  <div>
    <div class="panel panel-default ss-details-panel ss-details-panel-bottom">
      <div class="panel-body">
        <section class="ss-details-section">
          <button class="btn btn-default" type="button" translate ng-click="vm.handleCancel()">Cancel</button>
          <button class="btn btn-primary" type="button" ng-disabled="!vm.dirty || !vm.catalogValid" ng-click="vm.handleSave()" translate>Save</button>
        </section>
      </div>
    </div>
  </div>
</div>
